<div class="footer">
    <div class="row" id="myDIV">
        <!-- <div class="col">
            <form action="/app/profile/<%= user._id %>">
                <button style="background: none; border: none;"><img src="../../icons/user.png" alt=""  style="margin-top: 5px;" width="30px"></button>
            </form>
        </div>
        <div class="col">
            <form action="/app/contract/<%= user._id %>">
                <button style="background: none; border: none;"><img src="../../icons/contract.png" alt=""  style="margin-top: 5px;" width="30px"></button>
            </form>
        </div>
        <div class="col">
            <form action="/app/home/<%= user._id %>">
                <button style="background: none; border: none;"><img src="../../icons/dashboard.png" alt="" width="40px"></button>
            </form>
        </div>
        <div class="col">
            <form action="/app/history/<%= user._id %>">
                <button style="background: none; border: none;"><img src="../../icons/history.png" alt=""  style="margin-top: 5px;" width="30px"></button>
            </form>
        </div>
        <div class="col">
            <form action="/app/support/<%= user._id %>">
                <button style="background: none; border: none;"><img src="../../icons/support.png" alt=""  style="margin-top: 5px;" width="30px"></button>
            </form>
        </div> -->
        <div class="col">
            <form action="/app/home/<%= user._id %>">
                <button type="submit" class="button" style="background: none; border: none;">
                    <i class="ri-dashboard-line" style="font-size: 20px;"></i>
                    <p style="font-size: 12px;">Trang chủ</p>
                </button>
            </form>
        </div>
        <div class="col">
            <form action="/app/profile/<%= user._id %>">
                <button type="submit" class="button" style="background: none; border: none;">
                    <i class="ri-user-6-line" style="font-size: 20px;"></i>
                    <p style="font-size: 12px;">Tài khoản</p>
                </button>
            </form>
        </div>
        <div class="col">
            <form action="/app/history/<%= user._id %>">
                <button type="submit" class="button" style="background: none; border: none;">
                    <i class="ri-history-line" style="font-size: 20px;"></i>
                    <p style="font-size: 12px;">lịch sử</p>
                </button>
            </form>
        </div>
        <div class="col">
            <form action="/app/contract/<%= user._id %>">
                <button type="submit" class="button" style="background: none; border: none;">
                    <i class="ri-article-line" style="font-size: 20px;"></i>
                    <p style="font-size: 12px;">Hợp đồng</p>
                </button>
            </form>
        </div>
    </div>
</div>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(252, 252, 252);
        text-align: center;
    }
</style>
<!-- JAVASCRIPT -->
<script src="../../admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../admin/assets/libs/simplebar/simplebar.min.js"></script>
<script src="../../admin/assets/libs/node-waves/waves.min.js"></script>
<script src="../../admin/assets/libs/feather-icons/feather.min.js"></script>
<script src="../../admin/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>

<!-- apexcharts -->
<script src="../../admin/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- Vector map-->
<script src="../../admin/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
<script src="../../admin/assets/libs/jsvectormap/maps/world-merc.js"></script>

<!--Swiper slider js-->
<script src="../../admin/assets/libs/swiper/swiper-bundle.min.js"></script>

<!-- Dashboard init -->
<script src="../../admin/assets/js/pages/dashboard-ecommerce.init.js"></script>

<!-- App js -->
<script src="../../admin/assets/js/app.js"></script>

</body>


<!-- Mirrored from themesbrand.com/velzon/html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Aug 2022 01:09:52 GMT -->

</html>