<%- include ./layouts/header.ejs %>
<% if (sale) { %>
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ./layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ./layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Tổng quan</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tổng quan</a></li>
                                        <li class="breadcrumb-item active">Tổng quan</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="row mb-3 pb-1">
                            <div class="col-12">
                                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                    <div class="flex-grow-1">
                                        <h4 class="fs-16 mb-1">Chào mừng, <%= sale.ho_va_ten %> - <%= sale.chuc_vu.ten_chuc_vu %> (<%= sale.nhom_kinh_doanh.ten_nhom %>)</h4>
                                        <h6 class="text-muted mb-0">ID: <%= sale.username_sale %> | Mã giới thiệu : <%= sale.ma_gioi_thieu %> </h6>
                                    </div>
                                </div><!-- end card header -->
                            </div>
                            <!--end col-->
                        </div>
                        <!-- Dashboard ADMIN -->
                        <% if (sale.chuc_vu._id == "62f60037939e9682e0c6973c") { %>
                        <div class="col-xxl-6">
                            <div class="d-flex flex-column h-100">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body p-0">
                                                <div class="alert alert-warning border-0 rounded-0 m-0 d-flex align-items-center" role="alert">
                                                    <i data-feather="alert-triangle" class="text-warning me-2 icon-sm"></i>
                                                    <div class="flex-grow-1 text-truncate">
                                                        CẢNH BÁO GIẢ MẠO
                                                    </div>
                                                </div>

                                                <div class="row align-items-end">
                                                    <div class="col-sm-12">
                                                        <div class="p-3">
                                                            <p class="fs-16 lh-base">Công ty cổ phần Tập đoàn Chợ Toàn Cầu Thông báo: Cảnh giác với những website và các trang mạng xã hội như FB, Tiktok, youtube... giả mạo thương hiệu </p>
                                                            <div class="flex-shrink-0">
                                                                <a href="https://chotoancau.vn/tin-hoat-dong/thong-bao-canh-giac-gia-mao-thuong-hieu-43.html" class="text-reset text-decoration-underline"><b>Xem thêm</b></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end card-body-->
                                        </div>
                                    </div> <!-- end col-->
                                </div> <!-- end row-->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium text-muted mb-0">Khách hàng</p>
                                                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%= khach_hang.length %>">0</span> Khách hàng</h2>
                                                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"> Số lượng khách hàng</p>
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                                <i data-feather="users" class="text-info"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                    <div class="col-md-6">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium text-muted mb-0">Doanh số</p><% let total = 0; %>
                                                        <% hop_dong.forEach(hop_dong => { %>
                                                        <% total += hop_dong.so_tien_dau_tu %>
                                                        <% }); %>
                                                        
                                                        <h2 class="mt-4 ff-secondary fw-semibold"><%= total.toLocaleString(); %> đ</h2>
                                                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"> Tổng doanh số</p>
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                                <i class="bx bx-dollar-circle text-success"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                                </div> <!-- end row-->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium text-muted mb-0">Hợp đồng đầu tư</p>
                                                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%= hop_dong.length %>">0</span> Hợp đồng </h2>
                                                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"> Số lượng hợp đồng</p>
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                                <i class="ri-file-list-3-line text-info"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->

                                    <div class="col-md-6">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="fw-medium text-muted mb-0">Nhân viên kinh doanh</p>
                                                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%= sales.length %>">0</span> sale</h2>
                                                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"> Tổng số nhân viên kinh doanh</p>
                                                    </div>
                                                    <div>
                                                        <div class="avatar-sm flex-shrink-0">
                                                            <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                                <i class="ri-shield-user-fill text-info"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                                </div> <!-- end row-->
                            </div>
                        </div> <!-- end col-->
                        <% } %>
                        <!-- DASHBOARD SALE -->
                        <% if (sale.chuc_vu._id == "62fb5b5e7f511110aaee0ce5" || sale.chuc_vu._id == "62fb5b8ef1b55b0b9c8745a6" || sale.chuc_vu._id == "62fb5c1df1b55b0b9c8745ba" || sale.chuc_vu._id == "62fb5c2cf1b55b0b9c8745c5" || sale.chuc_vu._id == "62fb5c59f1b55b0b9c8745d0" || sale.chuc_vu._id == "62fb5c65f1b55b0b9c8745db" || sale.chuc_vu._id == "62fb5c79f1b55b0b9c8745e6" || sale.chuc_vu._id == "62fb5c8af1b55b0b9c8745f1" || sale.chuc_vu._id == "63099cfeea61e1dad3c7a959") { %>
                            <div class="col-md-3">
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium text-muted mb-0">Số khách hàng</p>
                                                <% let sl_kh = 0; %>
                                                <% khach_hang.forEach(function(khach_hang){ %>
                                                    <% if (khach_hang.ma_gioi_thieu == sale.ma_gioi_thieu) { %>
                                                        <% sl_kh++ %>
                                                    <% } %>
                                                <% }); %>
                                                
                                                <h2 class="mt-4 ff-secondary fw-semibold"><%= sl_kh %> Khách hàng</h2>
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                        <i class="bx bx-user text-success"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div> <!-- end card-->
                            </div>
                            <div class="col-md-3">
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="fw-medium text-muted mb-0">Số lượng hợp đồng</p>
                                                <% let sl_hd = 0; %>
                                                <% hop_dong.forEach(function(hop_dong){ %>
                                                    <% if (hop_dong.khach_hang.ma_gioi_thieu == sale.ma_gioi_thieu) { %>
                                                        <% sl_hd++ %>
                                                    <% } %>
                                                <% }); %>
                                                
                                                <h2 class="mt-4 ff-secondary fw-semibold"><%= sl_hd %> Hợp đồng</h2>
                                            </div>
                                            <div>
                                                <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-info rounded-circle fs-2">
                                                        <i class="bx bx-user text-success"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div> <!-- end card-->
                            </div>
                            <div class="col-xxl-6"></div>
                            <div class="col-xxl-6">
                                <div class="d-flex flex-column h-100">
                                    <div class="card-header align-items-center d-flex">
                                        <% if (message) { %>
                                            <p id="mess" style="font-size: 16px; color: green;">
                                                <%= message %>
                                            </p> 
                                        <% } %>
                                        <script>
                                            setTimeout(() => {
                                                const box = document.getElementById('mess');
                                                box.style.display = 'none';
                                            }, 10000);
                                        </script>  
                                        <h4 class="card-title mb-0 flex-grow-1">Phiếu thông tin khách hàng mới</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card card-animate">
                                                <div class="card-body">
                                                    <div class="live-preview">
                                                        <form action="/admin/them-khach-hang" method="post">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten"  oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Yêu cầu nhập họ và tên')" required="">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="nam_sinh" class="form-label">Ngày sinh</label>
                                                                        <input type="date" class="form-control" id="nam_sinh" name="nam_sinh" oninput="setCustomValidity('')"  oninvalid="this.setCustomValidity('Yêu cầu nhập ngày sinh')" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="dan_toc" class="form-label">Dân tộc</label>
                                                                        <input type="text" class="form-control" placeholder="Dân tộc" id="dan_toc" name="dan_toc">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="cccd_cmnd" class="form-label">Số CMND/CCCD</label>
                                                                        <input type="number" class="form-control" placeholder="Nhập chứng minh nhân dân hoặc căn cước công dân" id="cccd_cmnd" name="cccd_cmnd" oninput="setCustomValidity('')"  oninvalid="this.setCustomValidity('Yêu cầu nhập CMND/CCCD')" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="mb-3">
                                                                        <label for="ngay_cap" class="form-label">Ngày cấp</label>
                                                                        <input type="date" class="form-control" id="ngay_cap" name="ngay_cap" oninput="setCustomValidity('')"  oninvalid="this.setCustomValidity('Nhập ngày cấp')" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="noi_cap" class="form-label">Nơi cấp</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập nơi cấp" id="noi_cap" name="noi_cap" oninput="setCustomValidity('')"  oninvalid="this.setCustomValidity('Nhập nơi cấp')" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="vung" class="form-label">Vùng</label>
                                                                        <select class="form-select mb-3" aria-label=".form-select-lg example"  id="vung" name="vung">
                                                                            <option value="6309a05c6d6575d010cc2ee8" selected>Chọn vùng</option>
                                                                            <% var vung_index = 0 %>
                                                                            <% vungs.forEach(function(vung){ vung_index++ %>
                                                                                <option value="<%= vung.ten_vung %>"><%= vung_index %>. <%= vung.ten_vung %></option>
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="tinh" class="form-label">Tỉnh</label>
                                                                        <select class="form-control" id="tinh" data-choices data-choices-groups data-placeholder="Chọn Tỉnh" name="tinh">
                                                                            <option value="6309a0cc6d6575d010cc2eea">Chọn tỉnh</option>
                                                                            <% var tinh_index = 0 %>
                                                                            <% tinhs.forEach(function(tinh){ tinh_index++ %>
                                                                                <option value="<%= tinh.ten_tinh %>"><%= tinh_index %>. <%= tinh.ten_tinh %></option>
                                                                            </optgroup>
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="huyen" class="form-label">Quận/Huyện</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ thường trú" id="huyen" name="huyen">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="xa" class="form-label">Phường/Xã</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ thường trú" id="xa" name="xa">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="dia_chi" class="form-label">Địa chỉ thường trú</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ thường trú" id="dia_chi" name="dia_chi" oninput="setCustomValidity('')"  oninvalid="this.setCustomValidity('Yêu cầu nhập địa chỉ')" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="mb-3">
                                                                        <label for="dia_chi_hien_tai" class="form-label">Địa chỉ hiện tại</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ hiện tại" id="dia_chi_hien_tai" name="dia_chi_hien_tai">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="so_dien_thoai" class="form-label">Số điện thoại</label>
                                                                        <input type="tel" class="form-control" placeholder="+(84) 444 78765" id="so_dien_thoai" name="so_dien_thoai">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="email" class="form-label">Email</label>
                                                                        <input type="email" class="form-control" placeholder="example@gamil.com" id="email" name="email">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="so_tai_khoan" class="form-label">Số tài khoản</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập số tài khoản" id="so_tai_khoan" name="so_tai_khoan">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="ngan_hang" class="form-label">Ngân hàng</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập ngân hàng" id="ngan_hang" name="ngan_hang">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="chi_nhanh" class="form-label">Chi nhánh</label>
                                                                        <input type="text" class="form-control" placeholder="Nhập chi nhánh" id="chi_nhanh" name="chi_nhanh">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_gioi_thieu" class="form-label">Mã giới thiệu</label>
                                                                        <input type="hidden" class="form-control" value="<%= sale.ma_gioi_thieu %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" >
                                                                        <input type="text" class="form-control" value="<%= sale.ma_gioi_thieu %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-5">
                                                                            <button id="check" type="submit" class="btn btn-primary ">Thêm mới</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div><!-- end card body -->
                                            </div> <!-- end card-->
                                        </div> <!-- end col-->
                                    </div> <!-- end row-->
                                </div>
                            </div> <!-- end col-->
                        <% } %>
                        <div class="col-xxl-6">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card card-height-100">
                                        <div class="card-header align-items-center d-flex">
                                            <h4 class="card-title mb-0 flex-grow-1">Thông báo và sự kiện</h4>
                                        </div><!-- end card header -->
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="table-responsive table-card">
                                                <table class="table table-borderless table-sm table-centered align-middle table-nowrap mb-1">
                                                    <thead class="text-muted border-dashed border border-start-0 border-end-0 bg-soft-light">
                                                        <tr>
                                                            <th>Thông báo</th>
                                                            <th style="width: 70%">Mô tả</th>
                                                            <th>Ngày</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="border-0">
                                                        <% thong_bao.forEach(function(thong_bao){ %>
                                                        <tr>
                                                            <td> <b>[<%= thong_bao.tieu_de_thong_bao %>]</b> </td>
                                                            <td><a href="<%= thong_bao.noi_dung_thong_bao %>"  target="_blank" rel="noopener noreferrer"> <%= thong_bao.mo_ta_thong_bao %></a></td>
                                                            <td><a href="<%= thong_bao.noi_dung_thong_bao %>"  target="_blank" rel="noopener noreferrer"><%= thong_bao.ngay_thong_bao.getDate() %>/<%= thong_bao.ngay_thong_bao.getMonth() + 1 %>/<%= thong_bao.ngay_thong_bao.getFullYear() %></a></td>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div><!-- end card -->
                                </div><!-- end col -->
                            </div> <!-- end row-->
                            <div class="row">
                                    <div class="col">
                                        <div class="card card-animate">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Danh sách hợp đồng</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col">MÃ HĐ</th>
                                                                <th scope="col">Họ và tên</th>
                                                                <th scope="col">Số điện thoại</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Đầu tư</th>
                                                                <th scope="col">Ngày ký</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="myTable">
                                                            <% hop_dong.forEach(function(hop_dong){ %>
                                                                <% if (hop_dong.khach_hang.ma_gioi_thieu == sale.ma_gioi_thieu) { %>
                                                                    <tr>
                                                                        <td><%= hop_dong.ma_hop_dong %></td>
                                                                        <td><%= hop_dong.khach_hang.ho_va_ten %></td>
                                                                        <td>0<%= hop_dong.khach_hang.so_dien_thoai %></td>
                                                                        <td><%= hop_dong.khach_hang.email %></td>
                                                                        <td><%= hop_dong.so_tien_dau_tu.toLocaleString() %></td>
                                                                        <td><%= hop_dong.ngay_ky_hop_dong.getDate() %>/<%= hop_dong.ngay_ky_hop_dong.getMonth() +1 %>/<%= hop_dong.ngay_ky_hop_dong.getFullYear() %></td>
                                                                    </tr>
                                                                <% } %>
                                                            <% }); %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </div> <!-- end col-->
                            </div> <!-- end row-->
                        </div><!-- end col -->
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <% } %>
<%- include ./layouts/footer.ejs %>