<%- include ../layouts/header.ejs %>

<body class="body-scroll" data-page="profile">

    <!-- loader section -->
    <%- include ../layouts/loading.ejs %>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <%- include ../layouts/sidebar.ejs %>
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:history.back()" class="btn btn-light btn-44" style="line-height: 38px;">
                        <i class="bi bi-backspace"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="../../images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/app/profile/<%= user.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <div class="row mb-4">
                <div class="col-12">
                    <% if (message) { %>
                        <p id="mess" style="font-size: 16px; color: green;">
                            <%= message %>
                        </p> 
                    <% } %>
                    <script>
                        setTimeout(() => {
                            const box = document.getElementById('mess');
                            box.style.display = 'none';
                        }, 10000);
                    </script>
                    <div class="card theme-bg overflow-hidden">
                        <div class="card-header">
                            <p class="">Đổi mật khẩu</p>
                        </div>
                        <form action="/app/change-password/<%= user.id %>" method="POST"   onsubmit='disableButton()'>
                            <div class="card-body py-4">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="form-floating is-valid mb-3">
                                            <input style="color: white;" type="text" class="form-control" id="password" name="password">
                                            <label for="password">Mật khẩu hiện tại</label>
                                        </div>
                                    </div>
                                    <div class="col-12 align-self-center">
                                        <div class="form-floating is-valid mb-3">
                                            <input style="color: white;" type="text" class="form-control" id="password_new" name="password_new">
                                            <label for="password_new">Mật khẩu mới</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <button id="check" type="submit" class="btn btn-default shadow-sm btn-lg w-100">Đổi mật khẩu</button>
                                    </div>
                                </div>
                                <script>
                                    function disableButton() {
                                        var btn = document.getElementById('check');
                                        btn.disabled = true;
                                        btn.innerText = 'Đang đổi mật khẩu...';
                                    }
                                </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Page ends-->

    <!-- Footer -->
    <%- include ../layouts/tab.ejs %>
    <!-- Footer ends-->


    <!-- Required jquery and libraries -->
    <%- include ../layouts/footer.ejs %>