<%- include ../layouts/header.ejs %>
<% if (user) { %>
    <!-- Begin page -->
    <div id="layout-wrapper">
<header id="page-topbar" style="background-color: #eff4f7;">
    <%- include ../layouts/menu.ejs %>
</header>
        <!-- ========== App Menu ========== -->
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <%- include ../layouts/nav.ejs %>
            <div class="page-content" style="padding-left: 0; padding-top: 70px;">
                <div class="col-12" style="background-color: white; width: 103%;">
                    <!-- Striped Rows -->
                    <table class="table table-striped" style="padding: 10px;">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">MÃ HĐ</th>
                                <th scope="col">Tiền đầu tư</th>
                                <th scope="col">Ngày ký</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% hop_dongs.forEach(function(hop_dong){ %>
                                <% if ( hop_dong.khach_hang.id === user.id) { %>
                                    <tr>
                                        <td><%= hop_dong.ma_hop_dong %></td>
                                        <td><%= hop_dong.so_tien_dau_tu.toLocaleString(); %> đ</td>
                                        <td><%= hop_dong.ngay_ky_hop_dong.getDate() %>/<%= hop_dong.ngay_ky_hop_dong.getMonth() + 1 %>/<%= hop_dong.ngay_ky_hop_dong.getFullYear() %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
              </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>
<% } %>
