<%- include ../layouts/header.ejs %>

<body class="body-scroll" data-page="profile">

    <!-- loader section -->
    <%- include ../layouts/loading.ejs %>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <%- include ../layouts/sidebar.ejs %>
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:history.back()" class="btn btn-light btn-44" style="line-height: 38px;">
                        <i class="bi bi-backspace"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="../../images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/app/profile/<%= user.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card theme-bg overflow-hidden">
                        <div class="card-header">
                            <p class="">Thay đổi thông tin</p>
                        </div>
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-12 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="text" class="form-control" value="<%= user.ho_va_ten %>" placeholder="ho_va_ten"
                                            id="ho_va_ten">
                                        <label for="ho_va_ten">Họ và tên</label>
                                    </div>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="date" class="form-control" value="<%= (user.nam_sinh).getFullYear() %>-<%= String(user.nam_sinh.getMonth() + 1).padStart(2, '0') %>-<%= String(user.nam_sinh.getDate()).padStart(2, '0') %>"
                                            id="nam_sinh">
                                        <label for="nam_sinh">Ngày sinh</label>
                                    </div>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="text" class="form-control" value="0<%= user.so_dien_thoai %>" placeholder="so_dien_thoai"
                                            id="so_dien_thoai">
                                        <label for="so_dien_thoai">Số điện thoại</label>
                                    </div>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="text" class="form-control" value="<%= user.cccd_cmnd %>" placeholder="cccd_cmnd"
                                            id="cccd_cmnd">
                                        <label for="cccd_cmnd">CMND/CCCD</label>
                                    </div>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="date" class="form-control" value="<%= (user.ngay_cap).getFullYear() %>-<%= String(user.ngay_cap.getMonth() + 1).padStart(2, '0') %>-<%= String(user.ngay_cap.getDate()).padStart(2, '0') %>" placeholder="ngay_cap"
                                            id="ngay_cap">
                                        <label for="ngay_cap">Ngày cấp</label>
                                    </div>
                                </div>
                                <div class="col-12 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="text" class="form-control" value="<%= user.noi_cap %>" placeholder="noi_cap"
                                            id="noi_cap">
                                        <label for="noi_cap">Nơi cấp</label>
                                    </div>
                                </div>
                                <div class="col-12 align-self-center">
                                    <div class="form-floating is-valid mb-3">
                                        <input type="text" class="form-control" value="0<%= user.email %>" placeholder="email"
                                            id="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Page ends-->

    <!-- Footer -->
    <%- include ../layouts/tab.ejs %>
    <!-- Footer ends-->


    <!-- Required jquery and libraries -->
    <%- include ../layouts/footer.ejs %>