<%- include ../layouts/header.ejs %>
<% if (user) { %>
    <!-- Begin page -->
    <div id="layout-wrapper">
<header id="page-topbar">
    <%- include ../layouts/menu.ejs %>
</header>
        <!-- ========== App Menu ========== -->
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <%- include ../layouts/nav.ejs %>
            <div class="page-content">
              <div class="">
                   <div class="col-12" style="background-color: white; width: 100%;">
                        <!-- Striped Rows -->
                        <table class="table table-striped" style="padding: 10px;">
                            <thead>
                                <tr>
                                    <th scope="col">MÃ HĐ</th>
                                    <th scope="col-2">Tiền lãi</th>
                                    <th scope="col">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% const thang = new Date(); %>
                                <% const month = thang.getMonth() + 1; %>
                                <% thang.setMonth(month, 0); %>
                                <% lich_sus.forEach(function(lich_su){ %>
                                    <% if (user.ho_va_ten == lich_su.hop_dong.khach_hang.ho_va_ten) { %>
                                    <tr>
                                        <td><%= lich_su.hop_dong.ma_hop_dong %></td>
                                        <% if ((lich_su.hop_dong.ngay_ky_hop_dong.getMonth() + 1) == month) { %>
                                            <td style="color: rgb(57, 78, 239); font-weight: 600;"> <span class="counter-value" data-target="<%= lich_su.hop_dong.loi_nhuan.thang_dau.toFixed(0) %>">0</span> </td>
                                        <% } %>
                                        <% if ((lich_su.hop_dong.ngay_ky_hop_dong.getMonth() + 1) != month) { %>
                                            <td style="color: rgb(57, 78, 239); font-weight: 600;"><%= lich_su.hop_dong.loi_nhuan.thang.toLocaleString() %></td>
                                        <% } %>
                                        <td><%= lich_su.trang_thai.ten_trang_thai %></td>
                                    </tr>
                                    <% } %>
                                <% }); %>
                            </tbody>
                        </table>
                   </div> 
              </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>
<% } %>
