<%- include ../layouts/header.ejs %>

<body class="body-scroll" data-page="profile">

    <!-- loader section -->
    <%- include ../layouts/loading.ejs %>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <%- include ../layouts/sidebar.ejs %>
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="../../images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/app/profile/<%= user.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <div class="row">
                <div class="col-12 profile-page">
                    <div class="clearfix"></div>
                    <div class="circle small one"></div>
                    <div class="circle small two"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="282.062"
                        height="209.359" viewBox="0 0 282.062 209.359" class="menubg">
                        <defs>
                            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1"
                                gradientUnits="objectBoundingBox">
                                <stop offset="0" stop-color="#09b2fd" />
                                <stop offset="1" stop-color="#6b00e5" />
                            </linearGradient>
                        </defs>
                        <path id="profilebg"
                            d="M751.177,233.459c-28.511,1.567-38.838,7.246-61.77,27.573s-27.623,71.926-65.15,70.883-27.624-21.369-79.744-40.132-47.13-53.005-23.676-84.8,4.009-57.671,33-75.867,83.269,30.223,127.232,21.5,64.157-41.353,82.329-26,5.953,29.138,8.773,46.369,13.786,23.5,13.786,37.91S779.688,231.893,751.177,233.459Z"
                            transform="translate(-503.892 -122.573)" fill="url(#linear-gradient)" />
                    </svg>


                    <div class="row my-3 py-4">
                        <div class="col-7 align-self-center">
                            <h1 class="mb-2" style="font-size: 20px;"><span class="fw-light text-secondary">Xin chào</span><br /><%= user.ho_va_ten %></h1>
                            <p class="text-muted size-12"><%= user.dia_chi %><br /></p>
                        </div>

                        <div class="col align-self-center">
                            <figure class="avatar avatar-100 rounded-20 p-1 bg-white shadow-sm">
                                <img src="../../app/img/user.jpg" alt="" class="rounded-18">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <!-- buttons -->
            <div class="row mb-4">
                <div class="col">
                    <a href="/app/contract/<%= user.id %>" class="btn btn-light btn-lg shadow-sm w-100">Hợp đồng</a>
                </div>
                <div class="col">
                    <a href="/app/support/<%= user.id %>" class="btn btn-default btn-lg shadow-sm w-100">Hỗ trợ</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a href="/app/profile-detail/<%= user.id %>" class="btn btn-light btn-lg shadow-sm w-100">Thông tin cá nhân</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a href="/app/tutorial/<%= user.id %>" class="btn btn-light btn-lg shadow-sm w-100">Hướng dẫn sử dụng</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a href="/app/bank-account/<%= user.id %>" class="btn btn-light btn-lg shadow-sm w-100">Tài khoản nhân hàng</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <a href="/app/change-password/<%= user.id %>" class="btn btn-light btn-lg shadow-sm w-100">Đổi mật khẩu</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <form action="/app/logout" method="post">
                    <button type="submit" class="btn btn-light btn-lg shadow-sm w-100">Đăng xuất</button>
                    </form>
                </div>
            </div>


    </main>
    <!-- Page ends-->

    <!-- Footer -->
    <%- include ../layouts/tab.ejs %>
    <!-- Footer ends-->


    <!-- Required jquery and libraries -->
    <%- include ../layouts/footer.ejs %>