<%- include ../layouts/header.ejs %>
<% if (user) { %>
    <!-- Begin page -->
<div id="layout-wrapper">
    <header id="page-topbar" style="background-color: #eff4f7;">
        <%- include ../layouts/menu.ejs %>
    </header>
        <!-- ========== App Menu ========== -->
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <%- include ../layouts/nav.ejs %>
            <div class="page-content" style="padding-left: 0;">
                <% let total = 0; %>
                <% hop_dongs.forEach(hop_dong => { %>
                     <% if ( hop_dong.khach_hang.id === user.id) { %>
                        <% total += hop_dong.so_tien_dau_tu %>
                    <% } %>
                <% }); %>
                <% let total_ocss = 0; %>
                <% hop_dongs.forEach(function(hop_dong){ %>
                    <% if ( hop_dong.khach_hang.id === user.id) { %>
                        <% total_ocss += hop_dong.tien_ocopshop %>
                    <% } %>
                <% }); %>
                <div class="col-12" style="background-color: white; color: black; line-height: 10px; padding-top: 15px; border-radius: 15px; padding-left: 20px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-5">
                            <p><b><%= user.ho_va_ten %></b></p>
                            <p>ID : <%= user.username %></p>
                        </div>
                        <div class="col-7">
                            <p style="color: rgb(39, 144, 243);">Tiền đầu tư : <span class="counter-value" data-target="<%= total %>"></span> đ</p>
                            <p style="color: rgb(20, 149, 55);">Tiền ocopshop : <span class="counter-value" data-target="<%= total_ocss %>"></span> đ</p>
                        </div>
                    </div>
                </div>
                <ul class="list list-group list-group-flush mb-0">
                    <li class="list-group-item" data-id="01">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="../../icons/security.png">
                                </div>
                            </div>

                            <div class="flex-grow-1 overflow-hidden">
                                <h5 class="contact-name fs-13 mb-1"><a href="#" class="link text-dark">Bảo mật tài khoản</a></h5>
                                <p class="contact-born text-muted mb-0" style="font-size: 10px;">Xác thực 2AF , SMS , Email</p>
                            </div>

                            <div class="flex-shrink-0 ms-2">
                                <div class="fs-11 text-muted">Đã bảo mật</div>
                            </div>
                        </div>
                    </li>
                    <!-- end list item -->
                    <li class="list-group-item" data-id="02">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="../../icons/user_profile.png">
                                </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                                <h5 class="contact-name fs-13 mb-1"><a href="#" class="link text-dark">Thông tin cá nhân</a></h5>
                                <p class="contact-born text-muted mb-0" style="font-size: 10px;">Chi tiết thông tin người dùng</p>
                            </div>
                        </div>
                    </li>
                    <!-- end list item -->
                    <li class="list-group-item" data-id="03">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="../../icons/qa.png">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="contact-name fs-13 mb-1"><a href="#" class="link text-dark">Câu hỏi thường gặp</a></h5>
                                <p class="contact-born text-muted mb-0" style="font-size: 10px;">Danh sách các câu hỏi hay gặp</p>
                            </div>
                        </div>
                    </li>
                    <!-- end list item -->
                    <li class="list-group-item" data-id="04">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="../../icons/edit_pass.png">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="contact-name fs-13 mb-1"><a href="#" class="link text-dark">Thay đổi mật khẩu</a></h5>
                                <p class="contact-born text-muted mb-0" style="font-size: 10px;">Thay đổi mật khẩu hiện tại</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" data-id="04">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="../../icons/support.png">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="contact-name fs-13 mb-1"><a href="#" class="link text-dark">Yêu cầu hỗ trợ</a></h5>
                                <p class="contact-born text-muted mb-0">Hỗ trợ người dùng 24/7</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item" data-id="04">
                        <form action="/app/logout" method="post">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img class="image avatar-xs rounded-circle" alt="" src="https://cdn-icons-png.flaticon.com/512/4400/4400483.png">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="contact-name fs-13 mb-1"><button style="background: none; border: none;">Đăng xuất</button></h5>
                                <p class="contact-born text-muted mb-0">Thoát khỏi ứng dụng</p>
                            </div>
                        </div>
                        </form>
                    </li>
                    <!-- end list item -->
                </ul>
            </div>
        </div>
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>
</div>
<% } %>
