<%- include ../layouts/header.ejs %>

    <body class="body-scroll" data-page="profile">

        <!-- loader section -->
        <%- include ../layouts/loading.ejs %>
            <!-- loader section ends -->

            <!-- Sidebar main menu -->
            <%- include ../layouts/sidebar.ejs %>
                <!-- Sidebar main menu ends -->

                <!-- Begin page -->
                <main class="h-100">

                    <!-- Header -->
                    <header class="header position-fixed">
                        <div class="row">
                            <div class="col-auto">
                                <a href="javascript:history.back()" class="btn btn-light btn-44" style="line-height: 38px;">
                                    <i class="bi bi-backspace"></i>
                                </a>
                            </div>
                            <div class="col text-center">
                                <div class="logo-small">
                                    <img src="../../images/gmg.png" alt="" />
                                    <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="/app/profile/<%= user.id %>" target="_self" class="btn btn-light btn-44">
                                    <i class="bi bi-person-circle"></i>
                                    <span class="count-indicator"></span>
                                </a>
                            </div>
                        </div>
                    </header>
                    <!-- Header ends -->

                    <!-- main page content -->
                    <div class="main-container container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4 overflow-hidden shadow-sm card-theme rounded-0">
                                    <div class="card-body" style="color: black;">
                                        <div class="row">
                                            <div class="col">
                                                <span class="tag bg-theme">Hợp đồng đầu tư</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Page ends-->

                <!-- Footer -->
                <%- include ../layouts/tab.ejs %>
                    <!-- Footer ends-->


                    <!-- Required jquery and libraries -->
                    <%- include ../layouts/footer.ejs %>