<%- include ../layouts/header.ejs %>

<body class="body-scroll" data-page="profile">

    <!-- loader section -->
    <%- include ../layouts/loading.ejs %>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <%- include ../layouts/sidebar.ejs %>
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i> 
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="../../images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/app/profile/<%= user.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <!-- Banner FAQs -->
            <div class="row mb-4 position-relative py-5 bg-theme">
                <div class="col-10 col-md-6 col-lg-4 mx-auto align-self-center">
                    <h5 class="text-center mb-2">Các câu hỏi thường gặp</h5>
                    <p class="text-center text-muted">Tìm kiếm truy vấn của bạn hoặc đi qua danh mục lựa chọn mong muốn của bạn và câu hỏi.</p>
                </div>
            </div>
            <!-- Question list -->
            <div class="row mb-3">
                <div class="col">
                    <h6 class="mb-0">Hướng dẫn và các câu hỏi thường gặp</h6>
                </div>
            </div>
            <div class="accordion accordion-flush shadow-sm mb-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Làm thế nào để có thể đầu tư
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">FinWallApp provides wide rang of different componentsor
                            module based UI interface which are syc or consistance with the whole template.
                            Thats the man reason MoobileUx is flexible to create pages and development. </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            About FinWallApp third party usage?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">FinWallApp provides wide rang of different componentsor
                            module based UI interface which are syc or consistance with the whole template.
                            Thats the man reason MoobileUx is flexible to create pages and development. </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Best in class for a reason
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body text-secondary">FinWallApp provides wide rang of different componentsor
                            module based UI interface which are syc or consistance with the whole template.
                            Thats the man reason MoobileUx is flexible to create pages and development. </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Page ends-->

    <!-- Footer -->
    <%- include ../layouts/tab.ejs %>
    <!-- Footer ends-->


    <!-- Required jquery and libraries -->
    <%- include ../layouts/footer.ejs %>