
<%- include ../layouts/header_sale.ejs %>
<body class="body-scroll" data-page="index">
    <%- include ../layouts/loading_sale.ejs %>
    <%- include ../layouts/sidebar_sale.ejs %>
    <main class="h-100">
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="/images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/sale/thong-tin-ca-nhan/<%= sale.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <div class="main-container container">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow-sm mb-4 ">
                        <ul class="list-group list-group-flush bg-none">
                            <% users.forEach(function(users){ %>
                                <% if (users.ma_gioi_thieu == sale.ma_gioi_thieu) { %>
                                    <li class="list-group-item border-0">
                                        <a href="/sale/khach-hang=<%= users.id %>/<%= sale.id %>">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="card">
                                                        <div class="card-body p-1">
                                                            <figure class="avatar avatar-44 rounded-15">
                                                                <img src="/images/gmg.png" alt="">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <p><%= users.ho_va_ten %><br><small class="text-secondary"><%= users.cccd_cmnd %></small></p>
                                                </div>
                                                <div class="col-auto text-end">
                                                    <% let sl_hd = 0; %>
                                                    <% hop_dongs.forEach(function(hop_dong){ %>
                                                        <% if (users.id === hop_dong.khach_hang.id) { %>
                                                            <% sl_hd++ %>
                                                        <% } %>
                                                    <% }); %>
                                                    <p>Số lượng HĐ<br><small class="text-secondary"><%= sl_hd %> Hợp đồng</small></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                <% } %>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include ../layouts/tab_sale.ejs %>
<%- include ../layouts/footer_sale.ejs %>