
<%- include ../layouts/header_sale.ejs %>
<body class="body-scroll" data-page="index">
    <%- include ../layouts/loading_sale.ejs %>
    <%- include ../layouts/sidebar_sale.ejs %>
    <main class="h-100">
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:history.back()" class="btn btn-light btn-44" style="line-height: 38px;">
                        <i class="bi bi-backspace"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="/images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/sale/thong-tin-ca-nhan/<%= sale.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <div class="main-container container">
            <div class="row">
                <div class="col-12 profile-page">
                    <div class="clearfix"></div>
                    <div class="circle small one"></div>
                    <div class="circle small two"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="282.062"
                        height="209.359" viewBox="0 0 282.062 209.359" class="menubg">
                        <defs>
                            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1"
                                gradientUnits="objectBoundingBox">
                                <stop offset="0" stop-color="#09b2fd" />
                                <stop offset="1" stop-color="#6b00e5" />
                            </linearGradient>
                        </defs>
                        <path id="profilebg"
                            d="M751.177,233.459c-28.511,1.567-38.838,7.246-61.77,27.573s-27.623,71.926-65.15,70.883-27.624-21.369-79.744-40.132-47.13-53.005-23.676-84.8,4.009-57.671,33-75.867,83.269,30.223,127.232,21.5,64.157-41.353,82.329-26,5.953,29.138,8.773,46.369,13.786,23.5,13.786,37.91S779.688,231.893,751.177,233.459Z"
                            transform="translate(-503.892 -122.573)" fill="url(#linear-gradient)" />
                    </svg>


                    <div class="row my-3 py-4">
                        <div class="col-7 align-self-center">
                            <h1 class="mb-2"><%= sale.ho_va_ten %></h1>
                            <p class="text-muted size-12">Mã giới thiệu: <%= sale.ma_gioi_thieu %></p>
                        </div>

                        <div class="col align-self-center">
                            <figure class="avatar avatar-100 rounded-20 p-1 bg-white shadow-sm">
                                <img src="assets/img/user1.jpg" alt="" class="rounded-18">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

            <!-- buttons -->
            <div class="row mb-4">
                <div class="col">
                    <a href="/sale/doi-mat-khau/<%= sale.id %>" class="btn btn-light btn-lg shadow-sm w-100">Đổi mật khẩu</a>
                </div>
                <div class="col">
                    <a href="message.html" class="btn btn-default btn-lg shadow-sm w-100">Hỗ trợ</a>
                </div>
            </div>
            <!-- location map-->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-1">Họ và tên : <%= sale.ho_va_ten %></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-1">Năm sinh : <%= sale.nam_sinh %></p>
                                </div>
                                <div class="col-8">
                                    <p class="mb-1">CMND/CCCD : <%= sale.cmnd_cccd %></p>
                                </div>
                                <div class="col-4">
                                    <p class="mb-1">Dân tộc : <%= sale.dan_toc %></p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-1">Ngày cấp : <%= sale.ngay_cap.getDate() %>/<%= sale.ngay_cap.getMonth() + 1 %>/<%= sale.ngay_cap.getFullYear() %></p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-1">Email : <%= sale.email %></p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-1">Điện thoại : 0<%= sale.dien_thoai %></p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-1">Địa chỉ : <%= sale.dia_chi %></p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-1">Mã giới thiệu : <%= sale.ma_gioi_thieu %></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- My Frequent Payments -->
            <div class="row mb-3">
                <div class="col">
                    <h6 class="title">Tải khoản ngân hàng</h6>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card theme-bg shadow-sm shadow-purple mb-3">
                        <img src="../../app/img/card-bg.png" alt="" class="cardimg" />
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-auto align-self-center">
                                    <img src="../../app/img/maestro.png" alt=""> Ngân hàng <%= sale.ngan_hang %>
                                </div>
                                <div class="col align-self-center text-end">
                                    <p class="small">
                                        <span class="text-muted size-10">Ngân hàng</span><br>
                                        <span class=""><%= sale.ngan_hang %></span>
                                    </p>
                                </div>
                            </div>
                            <h6 class="fw-normal mb-3">
                                <p>SỐ TÀI KHOẢN : <%= sale.so_tai_khoan %></p>
                            </h6>
                            <div class="row">
                            <div class="col-auto">
                                    <p class="mb-0 text-muted size-10">Chủ tài khoản</p>
                                    <p style="text-transform: uppercase;"><%= sale.ho_va_ten %></p>
                                </div>
                                <div class="col text-end">
                                    <p class="mb-0 text-muted size-10">Chi nhánh</p>
                                    <p><%= sale.chi_nhanh %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include ../layouts/tab_sale.ejs %>
<%- include ../layouts/footer_sale.ejs %>