<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="../../admin/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="../../admin/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="javascript:void(0)" class="logo logo-light" style="color: white;">
            SYSTEM ADMIN
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
           
            <ul class="navbar-nav" id="navbar-nav">

                <!-- CỘNG TÁC VIÊN KINH DOANH  -->
                <% if(sale.chuc_vu._id == '62fb5b5e7f511110aaee0ce5') { %>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-hop-dong/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách hợp đồng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách khách hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/cai-dat-chung/<%= sale._id %>">
                            <i class="ri-user-line"></i> <span data-key="t-dashboards">Thông tin cá nhân</span>
                        </a>
                    </li>
                <% } %>


                <!-- NHÂN VIÊN KINH DOANH  -->
                <% if(sale.chuc_vu._id == '62fb5b8ef1b55b0b9c8745a6') { %>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-hop-dong/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách hợp đồng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách khách hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/cap-duoi/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Cộng tác viên</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/gioi-thieu/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Giới thiệu</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/cai-dat-chung/<%= sale._id %>">
                            <i class="ri-user-line"></i> <span data-key="t-dashboards">Thông tin cá nhân</span>
                        </a>
                    </li>
                <% } %>

                <!-- TRƯỞNG NHÓM , TRƯỞNG PHÒNG , PHÓ GIÁM ĐỐC KINH DOANH , GIÁM ĐỐC KINH DOANH  -->

                <% if(sale.chuc_vu._id == '62fb5c1df1b55b0b9c8745ba' || sale.chuc_vu._id == '62fb5c2cf1b55b0b9c8745c5' || sale.chuc_vu._id == '62fb5c59f1b55b0b9c8745d0' || sale.chuc_vu._id == '62fb5c65f1b55b0b9c8745db' || sale.chuc_vu._id == '62fb5c79f1b55b0b9c8745e6' || sale.chuc_vu._id == '62fb5c8af1b55b0b9c8745f1' || sale.chuc_vu._id == '63099cfeea61e1dad3c7a959' ) { %>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-hop-dong/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách hợp đồng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách khách hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/cap-duoi/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách cấp dưới</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/gioi-thieu/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Giới thiệu</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/cai-dat-chung/<%= sale._id %>">
                            <i class="ri-user-line"></i> <span data-key="t-dashboards">Thông tin cá nhân</span>
                        </a>
                    </li>
                <% } %>
                <!-- NHÂN VIÊN PHÁP CHẾ -->
                <% if (sale.chuc_vu._id == '630ed1b47b0c8dd5727f39b6') { %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-hop-dong/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách hợp đồng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách khách hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/danh-sach-sale/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Nhân viên kinh doanh</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#nhom_kinh_doanh" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nhom_kinh_doanh">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Đội nhóm kinh doanh</span>
                    </a>
                    <div class="collapse menu-dropdown" id="nhom_kinh_doanh">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/danh-sach-nhom/<%= sale._id %>">
                                    <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách đội nhóm</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <% } %>
            </ul>
            <!-- ADMIN -->
            <% if (sale.chuc_vu._id == '62f60037939e9682e0c6973c' || sale.chuc_vu._id == '6341138773407c222e681c01') { %>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-hop-dong/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách hợp đồng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách khách hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/danh-sach-ho-tro/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Yêu cầu hỗ trợ</span>
                    </a>
                </li>
                <% if (sale.chuc_vu._id == '62f60037939e9682e0c6973c') { %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-khu-vuc/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Quản lý khu vực</span>
                    </a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/danh-sach-sale/<%= sale._id %>">
                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Nhân viên kinh doanh</span>
                    </a>
                </li>
                <% if (sale.chuc_vu._id == '62f60037939e9682e0c6973c') { %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-thong-bao/<%= sale._id %>">
                        <i class="ri-notification-line"></i> <span data-key="t-dashboards">Quản lý thông báo</span>
                    </a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#nhom_kinh_doanh" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nhom_kinh_doanh">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Đội nhóm kinh doanh</span>
                    </a>
                    <div class="collapse menu-dropdown" id="nhom_kinh_doanh">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/danh-sach-nhom/<%= sale._id %>">
                                    <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách đội nhóm</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/quan-ly-tra-thuong/<%= sale._id %>">
                                    <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Danh sách vùng</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/hoa-hong/<%= sale._id %>">
                                    <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Danh sách tỉnh</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Kế toán</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/danh-sach-phieu/<%= sale._id %>">
                                    <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Hợp đồng trả thưởng</span>
                                </a>
                            </li>
                            <% if (sale.chuc_vu._id == '62f60037939e9682e0c6973c') { %>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/hoa-hong/<%= sale._id %>">
                                    <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Hoa hồng</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/tra-lai-hop-dong/<%= sale._id %>">
                                    <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Trả lãi hợp đồng</span>
                                </a>
                            </li>
                            <% } %>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/lich-su-tra-lai/<%= sale._id %>">
                                    <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Lịch sử trả lãi</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <% if (sale.chuc_vu._id == '62f60037939e9682e0c6973c') { %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSetting" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSetting">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Cài Đặt</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSetting">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/quan-ly-chuc-vu/<%= sale._id %>">
                                    <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Quản lý chức vụ</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/quan-ly-tai-khoan/<%= sale._id %>">
                                    <i class="ri-group-line"></i> <span data-key="t-dashboards">Quản lý tài khoản</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/quan-ly-thong-bao/<%= sale._id %>">
                                    <i class="ri-notification-line"></i> <span data-key="t-dashboards">Quản lý thông báo</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/cai-dat-chung/<%= sale._id %>">
                                    <i class="ri-settings-5-fill"></i> <span data-key="t-dashboards">Thông tin cá nhân</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <% } %>
                <% if (sale.chuc_vu._id == '62f60037939e9682e0c6973c') { %>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarChart" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarChart">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Thống kê</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarChart">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                                    <i class="ri-pie-chart-fill"></i> <span data-key="t-dashboards">Thống kê</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <% } %>
            </ul>
            <% } %>
            <!-- NHÂN VIÊN KẾ TOÁN -->
            <% if (sale.chuc_vu._id == '630ed69b7b0c8dd5727f3b50') { %>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/danh-sach-sale/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Nhân viên kinh doanh</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách khách hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/quan-ly-hop-dong/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách hợp đồng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/tra-lai-hop-dong/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Trả lãi hợp đồng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/lich-su-tra-lai/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Lịch sử trả lãi</span>
                        </a>
                    </li>
                </ul>
            <% } %>
            <!-- NHÂN VIÊN HÀNH CHÍNH NHÂN SỰ -->
            <% if (sale.chuc_vu._id == '6316e5768871a27fb5b0ae8f') { %>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/admin/danh-sach-sale/<%= sale._id %>">
                            <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Nhân viên kinh doanh</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#nhom_kinh_doanh" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="nhom_kinh_doanh">
                            <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Đội nhóm kinh doanh</span>
                        </a>
                        <div class="collapse menu-dropdown" id="nhom_kinh_doanh">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="/admin/danh-sach-nhom/<%= sale._id %>">
                                        <i class="ri-newspaper-line"></i> <span data-key="t-dashboards">Danh sách đội nhóm</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            <% } %>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>