<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="../../admin/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="../../admin/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="javascript:void(0)" class="logo logo-light" style="color: white;">
            SYSTEM ADMIN
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/dashboard/<%= sale._id %>">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Tổng quan</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-tra-thuong/<%= sale._id %>">
                        <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Quản lý trả thưởng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/hoa-hong/<%= sale._id %>">
                        <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Hoa hồng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-giao-dich/<%= sale._id %>">
                        <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Quản lý giao dịch</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-chuc-vu/<%= sale._id %>">
                        <i class="ri-file-list-line"></i> <span data-key="t-dashboards">Quản lý chức vụ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-sale/<%= sale._id %>">
                        <i class="ri-group-2-fill"></i> <span data-key="t-dashboards">Quản lý Sale</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-doi-nhom/<%= sale._id %>">
                        <i class="ri-group-fill"></i> <span data-key="t-dashboards">Quản lý đội nhóm</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                        <i class="ri-group-line"></i> <span data-key="t-dashboards">Quản lý khách hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-tai-khoan/<%= sale._id %>">
                        <i class="ri-group-line"></i> <span data-key="t-dashboards">Quản lý tài khoản</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-thong-bao/<%= sale._id %>">
                        <i class="ri-notification-line"></i> <span data-key="t-dashboards">Quản lý thông báo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/quan-ly-khach-hang-sale/<%= sale._id %>">
                        <i class="ri-pie-chart-fill"></i> <span data-key="t-dashboards">Thống kê</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/admin/cai-dat-chung/<%= sale._id %>">
                        <i class="ri-settings-5-fill"></i> <span data-key="t-dashboards">Cài đặt</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>