<div>
    <% sales.forEach(function(sales){ %>
        <% if (sales.ma_gioi_thieu == ds_hop_dong.khach_hang.ma_gioi_thieu ) { %>
                <!-- check nhân viên -->
                <% sales_nhan_vien.forEach(function(sales_nhan_vien){ %>
                    <% if ( sales.ma_code == sales_nhan_vien.ma_gioi_thieu) { %>
                        <div class="row g-3">
                            <div class="col-4">
                                <label for="nhan_vien_kinh_doanh" class="form-label">Họ và tên</label>
                                <input type="text" value="<%= sales_nhan_vien.ho_va_ten %>" class="form-control" id="nhan_vien_kinh_doanh" name="nhan_vien_kinh_doanh" placeholder="Họ và tên">
                            </div>
                            <div class="col-3">
                                <label for="cmnd_cccd_nhan_vien" class="form-label">CMND/CCCD</label>
                                <input type="text" value="<%= sales_nhan_vien.cmnd_cccd %>" class="form-control" id="cmnd_cccd_nhan_vien" name="cmnd_cccd_nhan_vien">
                            </div>
                            <div class="col-4">
                                <label for="chuc_vu_nhan_vien" class="form-label">Chức vụ</label>
                                <input type="text" value="<%= sales_nhan_vien.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_nhan_vien" name="chuc_vu_nhan_vien">
                            </div>
                            <div class="col-1">
                                <label for="hoa_hong_nhan_vien" class="form-label">% HH</label>
                                <input type="number" class="form-control" id="hoa_hong_nhan_vien" name="hoa_hong_nhan_vien">
                            </div>
                            <input type="hidden" value="<%= sales_nhan_vien.so_tai_khoan %>" class="form-control" id="so_tai_khoan_nhan_vien" name="so_tai_khoan_nhan_vien">
                            <input type="hidden" value="<%= sales_nhan_vien.ngan_hang %>" class="form-control" id="ngan_hang_nhan_vien" name="ngan_hang_nhan_vien">
                            <input type="hidden" value="<%= sales_nhan_vien.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_nhan_vien" name="ma_gioi_thieu_nhan_vien">
                        </div>
                        <!-- check trưởng nhóm -->
                        <% sales_truong_nhom.forEach(function(sales_truong_nhom){ %>
                            <% if (sales_nhan_vien.ma_code == sales_truong_nhom.ma_gioi_thieu ) { %>
                                <div class="row g-3">
                                    <div class="col-4">
                                        <label for="truong_nhom_kinh_doanh" class="form-label">Họ và tên</label>
                                        <input type="text" value="<%= sales_truong_nhom.ho_va_ten %>" class="form-control" id="truong_nhom_kinh_doanh" name="truong_nhom_kinh_doanh" placeholder="Họ và tên">
                                    </div>
        
                                    <div class="col-3">
                                        <label for="cmnd_cccd_truong_nhom" class="form-label">CMND/CCCD</label>
                                        <input type="text" value="<%= sales_truong_nhom.cmnd_cccd %>" class="form-control" id="cmnd_cccd_truong_nhom" name="cmnd_cccd_truong_nhom">
                                    </div>
                                    <div class="col-4">
                                        <label for="chuc_vu_truong_nhom" class="form-label">Chức vụ</label>
                                        <input type="text" value="<%= sales_truong_nhom.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_truong_nhom" name="chuc_vu_truong_nhom">
                                    </div>
                                    <div class="col-1">
                                        <label for="hoa_hong_truong_nhom" class="form-label">% HH</label>
                                        <input type="number" class="form-control" id="hoa_hong_truong_nhom" name="hoa_hong_truong_nhom">
                                    </div>
                                </div>
                                <input type="hidden" value="<%= sales_truong_nhom.so_tai_khoan %>" class="form-control" id="so_tai_khoan_truong_nhom" name="so_tai_khoan_truong_nhom">
                                <input type="hidden" value="<%= sales_truong_nhom.ngan_hang %>" class="form-control" id="ngan_hang_truong_nhom" name="ngan_hang_truong_nhom">
                                <input type="hidden" value="<%= sales_truong_nhom.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_truong_nhom" name="ma_gioi_thieu_truong_nhom">
                                <!-- check trưởng phòng -->
                                <% sales_truong_phong.forEach(function(sales_truong_phong){ %>
                                    <% if (sales_truong_nhom.ma_code == sales_truong_phong.ma_gioi_thieu  ) { %>
                                        <div class="row g-3">
                                            <div class="col-4">
                                                <label for="truong_phong_kinh_doanh" class="form-label">Họ và tên</label>
                                                <input type="text" value="<%= sales_truong_phong.ho_va_ten %>" class="form-control" id="truong_phong_kinh_doanh" name="truong_phong_kinh_doanh" placeholder="Họ và tên">
                                            </div>
                
                                            <div class="col-3">
                                                <label for="cmnd_cccd_truong_phong" class="form-label">CMND/CCCD</label>
                                                <input type="text" value="<%= sales_truong_phong.cmnd_cccd %>" class="form-control" id="cmnd_cccd_truong_phong" name="cmnd_cccd_truong_phong">
                                            </div>
                                            <div class="col-4">
                                                <label for="chuc_vu_truong_phong" class="form-label">Chức vụ</label>
                                                <input type="text" value="<%= sales_truong_phong.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_truong_phong" name="chuc_vu_truong_phong">
                                            </div>
                                            <div class="col-1">
                                                <label for="hoa_hong_truong_phong" class="form-label">% HH</label>
                                                <input type="number" class="form-control" id="hoa_hong_truong_phong" name="hoa_hong_truong_phong">
                                            </div>
                                        </div>
                                        <input type="hidden" value="<%= sales_truong_phong.so_tai_khoan %>" class="form-control" id="so_tai_khoan_truong_phong" name="so_tai_khoan_truong_phong">
                                        <input type="hidden" value="<%= sales_truong_phong.ngan_hang %>" class="form-control" id="ngan_hang_truong_phong" name="ngan_hang_truong_phong">
                                        <input type="hidden" value="<%= sales_truong_phong.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_truong_phong" name="ma_gioi_thieu_truong_phong">
                                        <!-- check phó giám đốc -->
                                        <% sales_pho_giam_doc.forEach(function(sales_pho_giam_doc){ %>
                                            <% if (sales_truong_phong.ma_code == sales_pho_giam_doc.ma_gioi_thieu ) { %>
                                                <div class="row g-3">
                                                    <div class="col-4">
                                                        <label for="pho_giam_doc_kinh_doanh" class="form-label">Họ và tên</label>
                                                        <input type="text" value="<%= sales_pho_giam_doc.ho_va_ten %>" class="form-control" id="pho_giam_doc_kinh_doanh" name="pho_giam_doc_kinh_doanh" placeholder="Họ và tên">
                                                    </div>
                        
                                                    <div class="col-3">
                                                        <label for="cmnd_cccd_pho_giam_doc" class="form-label">CMND/CCCD</label>
                                                        <input type="text" value="<%= sales_pho_giam_doc.cmnd_cccd %>" class="form-control" id="cmnd_cccd_pho_giam_doc" name="cmnd_cccd_pho_giam_doc">
                                                    </div>
                                                    <div class="col-4">
                                                        <label for="chuc_vu_pho_giam_doc" class="form-label">Chức vụ</label>
                                                        <input type="text" value="<%= sales_pho_giam_doc.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_pho_giam_doc" name="chuc_vu_pho_giam_doc">
                                                    </div>
                                                    <div class="col-1">
                                                        <label for="hoa_hong_pho_giam_doc" class="form-label">% HH</label>
                                                        <input type="number" class="form-control" id="hoa_hong_pho_giam_doc" name="hoa_hong_pho_giam_doc">
                                                    </div>
                                                </div>
                                                <input type="hidden" value="<%= sales_pho_giam_doc.so_tai_khoan %>" class="form-control" id="so_tai_khoan_pho_giam_doc" name="so_tai_khoan_pho_giam_doc">
                                                <input type="hidden" value="<%= sales_pho_giam_doc.ngan_hang %>" class="form-control" id="ngan_hang_pho_giam_doc" name="ngan_hang_pho_giam_doc">
                                                <input type="hidden" value="<%= sales_pho_giam_doc.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_pho_giam_doc" name="ma_gioi_thieu_pho_giam_doc">
                                                <!-- check giám đốc -->
                                                <% sales_giam_doc.forEach(function(sales_giam_doc){ %>
                                                    <% if (sales_pho_giam_doc.ma_code == sales_giam_doc.ma_gioi_thieu ) { %>
                                                        <div class="row g-3">
                                                            <div class="col-4">
                                                                <label for="giam_doc_kinh_doanh" class="form-label">Họ và tên</label>
                                                                <input type="text" value="<%= sales_giam_doc.ho_va_ten %>" class="form-control" id="giam_doc_kinh_doanh" name="giam_doc_kinh_doanh" placeholder="Họ và tên">
                                                            </div>
                                
                                                            <div class="col-3">
                                                                <label for="cmnd_cccd_giam_doc" class="form-label">CMND/CCCD</label>
                                                                <input type="text" value="<%= sales_giam_doc.cmnd_cccd %>" class="form-control" id="cmnd_cccd_giam_doc" name="cmnd_cccd_giam_doc">
                                                            </div>
                                                            <div class="col-4">
                                                                <label for="chuc_vu_giam_doc" class="form-label">Chức vụ</label>
                                                                <input type="text" value="<%= sales_giam_doc.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_giam_doc" name="chuc_vu_giam_doc">
                                                            </div>
                                                                <div class="col-1">
                                                                    <label for="hoa_hong_giam_doc" class="form-label">% HH</label>
                                                                    <input type="number" class="form-control" id="hoa_hong_giam_doc" name="hoa_hong_giam_doc">
                                                                </div>
                                                        </div>
                                                        <input type="hidden" value="<%= sales_giam_doc.so_tai_khoan %>" class="form-control" id="so_tai_khoan_giam_doc" name="so_tai_khoan_giam_doc">
                                                        <input type="hidden" value="<%= sales_giam_doc.ngan_hang %>" class="form-control" id="ngan_hang_giam_doc" name="ngan_hang_giam_doc">
                                                        <input type="hidden" value="<%= sales_giam_doc.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_giam_doc" name="ma_gioi_thieu_giam_doc">
                                                        <!-- check giám đốc tỉnh -->
                                                        <% sales_giam_doc_tinh.forEach(function(sales_giam_doc_tinh){ %>
                                                            <% if (sales_giam_doc.ma_code == sales_giam_doc_tinh.ma_gioi_thieu ) { %>
                                                                <div class="row g-3">
                                                                    <div class="col-4">
                                                                        <label for="giam_doc_tinh" class="form-label">Họ và tên</label>
                                                                        <input type="text" value="<%= sales_giam_doc_tinh.ho_va_ten %>" class="form-control" id="giam_doc_tinh" name="giam_doc_tinh" placeholder="Họ và tên">
                                                                    </div>
                                        
                                                                    <div class="col-3">
                                                                        <label for="cmnd_cccd_giam_doc_tinh" class="form-label">CMND/CCCD</label>
                                                                        <input type="text" value="<%= sales_giam_doc_tinh.cmnd_cccd %>" class="form-control" id="cmnd_cccd_giam_doc_tinh" name="cmnd_cccd_giam_doc_tinh">
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <label for="chuc_vu_giam_doc_tinh" class="form-label">Chức vụ</label>
                                                                        <input type="text" value="<%= sales_giam_doc_tinh.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_giam_doc_tinh" name="chuc_vu_giam_doc_tinh">
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label for="hoa_hong_giam_doc_tinh" class="form-label">% HH</label>
                                                                        <input type="number" class="form-control" id="hoa_hong_giam_doc_tinh" name="hoa_hong_giam_doc_tinh">
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" value="<%= sales_giam_doc_tinh.so_tai_khoan %>" class="form-control" id="so_tai_khoan_giam_doc_tinh" name="so_tai_khoan_giam_doc_tinh">
                                                                <input type="hidden" value="<%= sales_giam_doc_tinh.ngan_hang %>" class="form-control" id="ngan_hang_giam_doc_tinh" name="ngan_hang_giam_doc_tinh">
                                                                <input type="hidden" value="<%= sales_giam_doc_tinh.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_giam_doc_tinh" name="ma_gioi_thieu_giam_doc_tinh">
                                                                <!-- check giám đốc vùng -->
                                                                <% sales_giam_doc_vung.forEach(function(sales_giam_doc_vung){ %>
                                                                    <% if (sales_giam_doc_tinh.ma_code == sales_giam_doc_vung.ma_gioi_thieu ) { %>
                                                                        <div class="row g-3">
                                                                            <div class="col-4">
                                                                                <label for="giam_doc_vung" class="form-label">Họ và tên</label>
                                                                                <input type="text" value="<%= sales_giam_doc_vung.ho_va_ten %>" class="form-control" id="giam_doc_vung" name="giam_doc_vung" placeholder="Họ và tên">
                                                                            </div>
                                                
                                                                            <div class="col-3">
                                                                                <label for="cmnd_cccd_giam_doc_vung" class="form-label">CMND/CCCD</label>
                                                                                <input type="text" value="<%= sales_giam_doc_vung.cmnd_cccd %>" class="form-control" id="cmnd_cccd_giam_doc_vung" name="cmnd_cccd_giam_doc_vung">
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label for="chuc_vu_giam_doc_vung" class="form-label">Chức vụ</label>
                                                                                <input type="text" value="<%= sales_giam_doc_vung.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_giam_doc_vung" name="chuc_vu_giam_doc_vung">
                                                                            </div>
                                                                            <div class="col-1">
                                                                                <label for="hoa_hong_giam_doc_vung" class="form-label">% HH</label>
                                                                                <input type="number" class="form-control" id="hoa_hong_giam_doc_vung" name="hoa_hong_giam_doc_vung">
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" value="<%= sales_giam_doc_vung.so_tai_khoan %>" class="form-control" id="so_tai_khoan_giam_doc_vung" name="so_tai_khoan_giam_doc_vung">
                                                                        <input type="hidden" value="<%= sales_giam_doc_vung.ngan_hang %>" class="form-control" id="ngan_hang_giam_doc_vung" name="ngan_hang_giam_doc_vung">
                                                                        <input type="hidden" value="<%= sales_giam_doc_vung.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_giam_doc_vung" name="ma_gioi_thieu_giam_doc_vung">
                                                                        <!-- check giám đốc chiến lược -->
                                                                        <% sales_giam_doc_chien_luoc.forEach(function(sales_giam_doc_chien_luoc){ %>
                                                                            <% if (sales_giam_doc_vung.ma_code == sales_giam_doc_chien_luoc.ma_gioi_thieu ) { %>
                                                                                <div class="row g-3">
                                                                                    <div class="col-4">
                                                                                        <label for="giam_doc_chien_luoc" class="form-label">Họ và tên</label>
                                                                                        <input type="text" value="<%= sales_giam_doc_chien_luoc.ho_va_ten %>" class="form-control" id="giam_doc_chien_luoc" name="giam_doc_chien_luoc" placeholder="Họ và tên">
                                                                                    </div>

                                                                                    <div class="col-3">
                                                                                        <label for="cmnd_cccd_giam_doc_chien_luoc" class="form-label">CMND/CCCD</label>
                                                                                        <input type="text" value="<%= sales_giam_doc_chien_luoc.cmnd_cccd %>" class="form-control" id="cmnd_cccd_giam_doc_chien_luoc" name="cmnd_cccd_giam_doc_chien_luoc">
                                                                                    </div>
                                                                                    <div class="col-4">
                                                                                        <label for="chuc_vu_giam_doc_chien_luoc" class="form-label">Chức vụ</label>
                                                                                        <input type="text" value="<%= sales_giam_doc_chien_luoc.chuc_vu.ten_chuc_vu %>" class="form-control" id="chuc_vu_giam_doc_chien_luoc" name="chuc_vu_giam_doc_chien_luoc">
                                                                                    </div>
                                                                                    <div class="col-1">
                                                                                        <label for="hoa_hong_giam_doc_chien_luoc" class="form-label">% HH</label>
                                                                                        <input type="number" class="form-control" id="hoa_hong_giam_doc_chien_luoc" name="hoa_hong_giam_doc_chien_luoc">
                                                                                    </div>
                                                                                </div>
                                                                                <input type="hidden" value="<%= sales_giam_doc_chien_luoc.so_tai_khoan %>" class="form-control" id="so_tai_khoan_giam_doc_chien_luoc" name="so_tai_khoan_giam_doc_chien_luoc">
                                                                                <input type="hidden" value="<%= sales_giam_doc_chien_luoc.ngan_hang %>" class="form-control" id="ngan_hang_giam_doc_chien_luoc" name="ngan_hang_giam_doc_chien_luoc">
                                                                                <input type="hidden" value="<%= sales_giam_doc_chien_luoc.ma_gioi_thieu %>" class="form-control" id="ma_gioi_thieu_giam_doc_chien_luoc" name="ma_gioi_thieu_giam_doc_chien_luoc">
                                                                            <% } %>
                                                                        <% }); %>
                                                                    <% } %>
                                                                <% }); %>
                                                            <% } %>
                                                        <% }); %>
                                                    <% } %>
                                                <% }); %>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                <% }); %>
                            <% } %>
                        <% }); %>
                    <% } %>
                <% }); %>
        <% } %>
    <% }); %>
    <input type="hidden" value="Đã thanh toán" class="form-control" id="trang_thai_sale" name="trang_thai_sale">
    <div class="d-flex align-items-start gap-3 mt-4">
        <button type="button" class="btn btn-light btn-label previestab" data-previous="v-pills-bill-address-tab_<%= ds_hop_dong._id %>"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Quay lại</button>
        <button type="submit" class="btn btn-success btn-label right ms-auto"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Hoàn thành</button>
    </div>
</div>