<%- include ../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ../layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ../layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Trả thưởng hoa hồng</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý</a></li>
                                        <li class="breadcrumb-item active">Trả thưởng</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col">
                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-16 mb-1">Chào mừng, <%= sale.ho_va_ten %>!</h4>
                                                <p class="text-muted mb-0">Chúc <%= sale.ho_va_ten %> một ngày làm việc hiệu quả</p>
                                            </div>
                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                 
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#hop_dong_hoa_hong">
                                                            <i class="ri-refund-2-fill align-middle"></i> Thêm mới hợp đồng
                                                        </button>
                                                        <div id="hop_dong_hoa_hong" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="myModalLabel">Hợp đồng trả thưởng</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form action="/admin/them-hop-dong" method="post">
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                    <div class="col-lg-12">
                                                                                        <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="so_hop_dong">Số hợp đồng
                                                                                            <span class="text-danger">*</span>
                                                                                        </label>
                                                                                        <input type="text" class="form-control" id="so_hop_dong"
                                                                                            name="so_hop_dong" >
                                                                                    </div>
                                                                                    <div class="col-lg-12">
                                                                                        <div class="row">
                                                                                            <div class="col-lg-6">
                                                                                                <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="sale">Nhân viên kinh doanh
                                                                                                    <span class="text-danger">*</span>
                                                                                                </label>
                                                                                                <select class="form-control" id="sale" name="sale">
                                                                                                    <option>---- Chọn nhân viên ----</option>
                                                                                                    <% sales.forEach(function(sales){ %>
                                                                                                    <option value="<%= sales._id %>"><%= sales.ho_va_ten %> </option>
                                                                                                    <% }); %>
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="col-lg-6">
                                                                                                <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="khach_hang">Khách hàng
                                                                                                    <span class="text-danger">*</span>
                                                                                                </label>
                                                                                                
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-12">
                                                                                        <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="gia_tri_hop_dong">Giá trị hợp đồng
                                                                                            <span class="text-danger">*</span>
                                                                                        </label>
                                                                                        <input type="number" class="form-control" id="gia_tri_hop_dong" name="gia_tri_hop_dong">
                                                                                    </div>
                                                                                    <div class="col-lg-12">
                                                                                        <div class="row">
                                                                                            <div class="col-lg-4">
                                                                                                <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="hoa_hong_thuong">Thưởng
                                                                                                    <span class="text-danger">*</span>
                                                                                                </label>
                                                                                                <select class="form-control" id="hoa_hong_thuong" name="hoa_hong_thuong">
                                                                                                    <option>---- Chọn chính sách thưởng ----</option>
                                                                                                    <% hoa_hong_thuong.forEach(function(hoa_hong_thuong){ %>
                                                                                                    <option value="<%= hoa_hong_thuong._id %>"><%= hoa_hong_thuong.ten_hoa_hong_thuong %> | <%= hoa_hong_thuong.hoa_hong_thuong %> % </option>
                                                                                                    <% }); %>
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="col-lg-4">
                                                                                                <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="hoa_hong_gian_tiep">Thưởng gián tiếp
                                                                                                    <span class="text-danger">*</span>
                                                                                                </label>
                                                                                                <select class="form-control" id="hoa_hong_linh_dong" name="hoa_hong_linh_dong">
                                                                                                    <option>---- Chọn chính sách gián tiếp ----</option>
                                                                                                    <% hoa_hong_linh_dong.forEach(function(hoa_hong_linh_dong){ %>
                                                                                                    <option value="<%= hoa_hong_linh_dong._id %>"><%= hoa_hong_linh_dong.ten_hoa_hong %> | <%= hoa_hong_linh_dong.hoa_hong_linh_dong %> % </option>
                                                                                                    <% }); %>
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="col-lg-4">
                                                                                                <label style="padding-bottom: 0px;" class="col-lg-12 col-form-label" for="hoa_hong_voucher">Thưởng voucher
                                                                                                    <span class="text-danger">*</span>
                                                                                                </label>
                                                                                                <select class="form-control" id="hoa_hong_voucher" name="hoa_hong_voucher">
                                                                                                    <option>---- Chọn chính sách voucher ----</option>
                                                                                                    <% hoa_hong_voucher.forEach(function(hoa_hong_voucher){ %>
                                                                                                    <option value="<%= hoa_hong_voucher._id %>"><%= hoa_hong_voucher.ten_hoa_hong_voucher %> | <%= hoa_hong_voucher.hoa_hong_voucher %> % </option>
                                                                                                    <% }); %>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><br>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                                                                <button type="submit" class="btn btn-primary ">Thêm mới</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Danh sách chức vụ</h4>
                                            </div><!-- end card header -->

                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col">Số hợp đồng</th>
                                                                <th scope="col">Họ và tên</th>
                                                                <th scope="col">Chức vụ</th>
                                                                <th scope="col">Hoa hồng trực tiếp</th>
                                                                <th scope="col">Hoa hồng gián tiếp</th>
                                                                <th scope="col">Hoa hồng thưởng</th>
                                                                <th scope="col">Hoa hồng voucher</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% hop_dongs.forEach(function(hop_dongs){ %>
                                                                <tr>
                                                                    <td style="font-weight: 500;"> <a href=""><%= hop_dongs.so_hop_dong %></a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= hop_dongs.sale.ho_va_ten %></a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= hop_dongs.sale.chuc_vu.ten_chuc_vu %></a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= hop_dongs.sale.chuc_vu.hoa_hong_chuc_vu.hoa_hong %> %</a></td>
                                                                    <td style="font-weight: 500;"> <a href="">0 %</a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= hop_dongs.hoa_hong_thuong.hoa_hong_thuong %> %</a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= hop_dongs.hoa_hong_voucher.hoa_hong_voucher %> %</a></td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#xoa-thong-bao-<%= hop_dongs._id %>">
                                                                            <i class="ri-delete-bin-2-fill align-middle"></i> Xóa
                                                                        </button>
                                                                    </td>
                                                                    <div id="xoa-thong-bao-<%= hop_dongs._id %>" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                        <form action="/admin/xoa-thong-bao/<%= hop_dongs._id %>" method="post">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title" id="myModalLabel">Xác nhận</h5>
                                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                       <h4>Bạn có muốn xóa không</h4>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                                                                        <button type="submit" class="btn btn-primary ">Xóa</button>
                                                                                    </div>
                                                                                </div><!-- /.modal-content -->
                                                                            </div><!-- /.modal-dialog -->
                                                                        </form>
                                                                    </div>
                                                                </tr>
                                                            <% }); %>
                                                        </tbody><!-- end tbody -->
                                                        
                                                    </table><!-- end table -->
                                                </div>
                                            </div>
                                        </div> <!-- .card-->
                                    </div>
                                </div> <!-- end row-->

                            </div> <!-- end .h-100-->

                        </div> <!-- end col -->
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>© Bản quyền thuộc về công ty cổ phần tập đoàn chợ toàn cầu.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Lê Tuấn Khang
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>