
<%- include ./layouts/header.ejs %>
<body class="body-scroll" data-page="index">

    <!-- loader section -->
    <%- include ./layouts/loading.ejs %>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <%- include ./layouts/sidebar.ejs %>
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="/images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/app/profile/<%= user.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">
            <!-- balance -->
            <div class="row my-4 text-center">
                <div class="col-12">
                    <% let total=0; %>
                    <% hop_dongs.forEach(hop_dong=> { %>
                        <% if ( hop_dong.khach_hang.id===user.id) { %>
                            <% total +=hop_dong.so_tien_dau_tu %>
                        <% } %>
                    <% }); %>
                    <h1 class="fw-light mb-2"><%= total.toLocaleString() %> đ</h1>
                    <p class="text-secondary">Số tiền đầu tư</p>
                </div>
            </div>

            <!-- income expense-->
            <div class="row mb-4">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 p-1 shadow-sm shadow-success rounded-15">
                                        <div class="icons bg-success text-white rounded-12">
                                            <i class="bi bi-file-text-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <% let sl_hd = 0; %>
                                    <% hop_dongs.forEach(function(hop_dong){ %>
                                        <% if (hop_dong.khach_hang.id === user.id) { %>
                                            <% sl_hd++ %>
                                        <% } %>
                                    <% }); %>
                                    <p class="size-10 text-secondary mb-0">Số lượng hợp đồng</p>
                                    <p><%= sl_hd %> HĐ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 p-1 shadow-sm shadow-success rounded-15">
                                        <div class="icons bg-success text-white rounded-12">
                                            <i class="bi bi-cash"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <% let total_ocss=0; %>
                                    <% hop_dongs.forEach(function(hop_dong){ %>
                                        <% if ( hop_dong.khach_hang.id===user.id) { %>
                                            <% total_ocss +=hop_dong.tien_ocopshop %>
                                        <% } %>
                                    <% }); %>
                                    <p class="size-10 text-secondary mb-0">Thưởng ocopshop</p>
                                    <p><%= total_ocss.toLocaleString() %> đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dark mode switch -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="darkmodeswitch">
                                <label class="form-check-label text-muted px-2 " for="darkmodeswitch">Bật chế độ ban đêm</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- categories list -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card bg-theme text-white">
                        <div class="card-body pb-0">
                            <div class="row justify-content-between gx-0 mx-0 pb-3">
                                <div class="col-auto text-center">
                                    <a href="/app/contract/<%= user.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-receipt-cutoff size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Hợp đồng</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="#" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-building size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Dự án</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="/app/history/<%= user.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-clock-history size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Lịch sử</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="#" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-headset size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Hỗ trợ</p>
                                </div>
                            </div>

                            <div class="row justify-content-between gx-0 mx-0 collapse" id="collpasemorelink">
                                <div class="col-auto text-center">
                                    <a href="/app/profile/<%= user.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-person-badge size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Thông tin</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="addmoney.html" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-wallet2 size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Ví</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="shop.html" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-cart size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Cửa hàng</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="rewards.html" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-question size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Phản hồi</p>
                                </div>
                            </div>

                            <button class="btn btn-link mt-0 py-1 w-100 bar-more collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collpasemorelink" aria-expanded="false"
                                aria-controls="collpasemorelink">
                                <span class=""></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- offers banner -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card theme-bg overflow-hidden">
                        <figure class="m-0 p-0 position-absolute top-0 start-0 w-100 h-100 coverimg right-center-img">
                            <img src="../assets/img/offerbg.png" alt="">
                        </figure>
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-9 align-self-center">
                                    <h1 class="mb-3"><span class="fw-light">Tri ân</span><br />Khách hàng</h1>
                                    <p>Cám ơn khách hàng đã tin tưởng và đồng hành cùng chúng tôi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blogs -->
            <div class="row mb-3">
                <div class="col">
                    <h6 class="title">Tin tức mới nhất</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="blog.html" class="small">Xem thêm</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="https://chotoancau.vn/tin-hoat-dong/le-dong-tho-du-an-khu-tmdv-tong-hop-phuong-tan-thanh-48.html" class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-60 shadow-sm rounded-10 coverimg">
                                        <img src="https://chotoancau.vn/uploads/news/2022_09/z3728460266456_d751def7c60fa16ac2011b014171e903.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <p class="mb-1">Lễ động thổ dự án Khu TMDV Tổng hợp Phường Tân Thành</p>
                                    <p class="text-muted size-12">Liên hiệp Hợp tác xã Việt Nam cùng Công ty CP Tập đoàn Chợ toàn cầu GMG tổ chức Lễ Động thổ dự án Khu TMDV Tổng hợp phường Tân Thành</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="https://chotoancau.vn/tin-hoat-dong/lanh-dao-xa-tran-yen-tinh-lang-son-hop-ban-phuong-an-xay-dung-cho-moi-69.html" class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-60 shadow-sm rounded-10 coverimg">
                                        <img src="https://chotoancau.vn/uploads/news/2022_10/img_e4512.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <p class="mb-1">Lãnh đạo xã Trấn Yên, tỉnh Lạng Sơn họp bàn phương án xây dựng chợ mới</p>
                                    <p class="text-muted size-12">Sáng ngày 30/9/2022, tại thôn Tác Nàng, xã Trấn Yên, huyện Bắc Sơn, tỉnh Lạng Sơn đã diễn ra cuộc họp về phương án bố trí sắp xếp ngành hàng và phương án xây dựng mới Chợ Trấn Yên.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="https://chotoancau.vn/thong-tin-kinh-te-xa-hoi/day-manh-phu-song-cho-4-0-70.html" class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-60 shadow-sm rounded-10 coverimg">
                                        <img src="https://chotoancau.vn/uploads/news/2022_10/1.1_5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <p class="mb-1">Đẩy mạnh "phủ sóng" chợ 4.0</p>
                                    <p class="text-muted size-12">Từ khi chợ Cồn (Q.Hải Châu, TP Đà Nẵng) triển khai mô hình chợ công nghệ 4.0 (gọi tắt là chợ 4.0) vào tháng 4-2022 đến nay</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- main page content ends -->


    </main>
    <!-- Page ends-->

    <!-- Footer -->
    <%- include ./layouts/tab.ejs %>
    <!-- Footer ends-->

    <!-- Required jquery and libraries -->
<%- include ./layouts/footer.ejs %>