<%- include ./layouts/header.ejs %>
<% if (user) { %>
    <!-- Begin page -->
    <div id="layout-wrapper">
<header id="page-topbar" style="background-color: #eff4f7;">
    <%- include ./layouts/menu.ejs %>
</header>
        <!-- ========== App Menu ========== -->
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <%- include ./layouts/nav.ejs %>
            <div class="page-content" style="padding-left: 0;">
                <% let total = 0; %>
                <% hop_dongs.forEach(hop_dong => { %>
                     <% if ( hop_dong.khach_hang.id === user.id) { %>
                        <% total += hop_dong.so_tien_dau_tu %>
                    <% } %>
                <% }); %>
                <% let total_ocss = 0; %>
                <% hop_dongs.forEach(function(hop_dong){ %>
                    <% if ( hop_dong.khach_hang.id === user.id) { %>
                        <% total_ocss += hop_dong.tien_ocopshop %>
                    <% } %>
                <% }); %>
                <div class="col-12" style="background-color: white; color: black; line-height: 10px; padding-top: 15px; border-radius: 15px; padding-left: 20px; margin-bottom: 10px;">
                    <div class="row">
                        <div class="col-5">
                            <p><b><%= user.ho_va_ten %></b></p>
                            <p>ID : <%= user.username %></p>
                        </div>
                        <div class="col-7">
                            <p style="color: rgb(39, 144, 243);">Tiền đầu tư : <span class="counter-value" data-target="<%= total %>"></span> đ</p>
                            <p style="color: rgb(20, 149, 55);">Tiền ocopshop : <span class="counter-value" data-target="<%= total_ocss %>"></span> đ</p>
                        </div>
                    </div>
                </div>
                <div style="width: 103%;">
                    <h4 style="padding-left: 15px;">Tin tức tổng hợp</h4>
                    <ul class="list-group">
                        <li class="list-group-item" style="border: none; border-bottom: solid 0.5px silver;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://lhhtx.vn/uploads/news/2022_09/pc-bao1-16641743540371092030135.jpg" width="100px" alt="" height="100px">
                                </div>
                                <div class="col-9" style="padding-left: 25px;">
                                    <p>Sáng 26/9, TP. Đà Nẵng tổ chức họp ứng phó với bão số 4. Lãnh đạo Thành phố đã quyết định đưa ra nhiều biện pháp để bảo đảm ứng phó hiệu quả với cơn bão, giảm thấp nhất thiệt hại</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="border: none; border-bottom: solid 0.5px silver;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://lhhtx.vn/uploads/news/2022_09/1.jpeg" width="100px" alt="" height="100px">
                                </div>
                                <div class="col-9" style="padding-left: 25px;">
                                    <p>Tin từ UBND tỉnh Thừa Thiên Huế cho biết, tỉnh đã chỉ đạo tạm đóng cửa chợ và cấm người dân ra đường từ chiều và tối 27/9 để bảo đảm an toàn khi siêu bão Noru (bão số 4) đổ bộ.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="border: none; border-bottom: solid 0.5px silver;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://chotoancau.vn/uploads/news/2022_09/z3728460266456_d751def7c60fa16ac2011b014171e903.jpg" width="100px" alt="" height="100px">
                                </div>
                                <div class="col-9" style="padding-left: 25px;">
                                    <p>Liên hiệp Hợp tác xã Việt Nam cùng Công ty CP Tập đoàn Chợ toàn cầu GMG tổ chức Lễ Động thổ dự án Khu TMDV Tổng hợp phường Tân Thành</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="border: none; border-bottom: solid 0.5px silver;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://chotoancau.vn/uploads/news/2022_09/image-20200702112049-1.jpeg" width="100px" alt="" height="100px">
                                </div>
                                <div class="col-9" style="padding-left: 25px;">
                                    <p>Trong bối cảnh nguồn cung khan hiếm và thị trường vừa khởi động lại sau dịch bệnh, các dự án nhà ở gần chợ, TTTM với ưu điểm sẵn có đã mạnh mẽ hút dòng tiền đầu tư từ thị trường.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="border: none; border-bottom: solid 0.5px silver;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://lhhtx.vn/uploads/news/2022_09/pc-bao1-16641743540371092030135.jpg" width="100px" alt="" height="100px">
                                </div>
                                <div class="col-9" style="padding-left: 25px;">
                                    <p>Sáng 26/9, TP. Đà Nẵng tổ chức họp ứng phó với bão số 4. Lãnh đạo Thành phố đã quyết định đưa ra nhiều biện pháp để bảo đảm ứng phó hiệu quả với cơn bão, giảm thấp nhất thiệt hại</p>
                                </div>
                            </div>
                        </li>
                      </ul>
                      <br>
                    <h4 style="padding-left: 15px;">Hợp đồng đầu tư</h4>
                    <table class="table table-striped" style="padding: 10px;">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">MÃ HĐ</th>
                                <th scope="col">Tiền đầu tư</th>
                                <th scope="col">Ngày ký</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% hop_dongs.forEach(function(hop_dong){ %>
                                <% if ( hop_dong.khach_hang.id === user.id) { %>
                                    <tr>
                                        <td><%= hop_dong.ma_hop_dong %></td>
                                        <td><%= hop_dong.so_tien_dau_tu.toLocaleString(); %> đ</td>
                                        <td><%= hop_dong.ngay_ky_hop_dong.getDate() %>/<%= hop_dong.ngay_ky_hop_dong.getMonth() + 1 %>/<%= hop_dong.ngay_ky_hop_dong.getFullYear() %></td>
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ./layouts/footer.ejs %>
<% } %>
