<%- include ../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ../layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ../layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-16 mb-1">Thông tin cá nhân, <%= sale.ho_va_ten %>!</h4>
                                                <% if (message) { %>
                                                    <b id="mess" style="font-size: 16px; color: green;">
                                                        <%= message %>
                                                    </b>
                                                <% } %>
                                                <script>
                                                    setTimeout(() => {
                                                        const box = document.getElementById('mess');
                                                        box.style.display = 'none';
                                                    }, 5000);
                                                </script>
                                            </div>
                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row--> 
                            </div> <!-- end .h-100-->
                        </div> <!-- end col -->
                        <div class="row">
                            <div class="col-xl-6 col-md-6"> 
                                <!-- card -->
                                <div class="card card-animate">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <form action="/admin/sua-nhan-vien/<%= sale._id %>" method="POST">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                <input type="text" class="form-control" value="<%= sale.ho_va_ten %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="nam_sinh" class="form-label">Ngày sinh</label>
                                                                <input type="date"  value="<%= sale.nam_sinh %>" class="form-control" id="nam_sinh" name="nam_sinh">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="dan_toc" class="form-label">Dân tộc</label>
                                                                <input type="text" value="<%= (sale.dan_toc) %>" class="form-control" placeholder="Dân tộc" id="dan_toc" name="dan_toc">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-7">
                                                            <div class="mb-3">
                                                                <label for="cmnd_cccd" class="form-label">Số CMND/CCCD </label>
                                                                <input type="text" value="<%= (sale.cmnd_cccd) %>" class="form-control" placeholder="" id="cmnd_cccd" name="cmnd_cccd">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="mb-3">
                                                                <label for="ngay_cap" class="form-label">Ngày cấp</label>
                                                                <input type="date" value="<%= (sale.ngay_cap).getFullYear() %>-<%= String(sale.ngay_cap.getMonth() + 1).padStart(2, '0') %>-<%= String(sale.ngay_cap.getDate()).padStart(2, '0') %>" class="form-control" id="ngay_cap" name="ngay_cap" >
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="noi_cap" class="form-label">Nơi cấp</label>
                                                                <input type="text"  class="form-control" value="<%= (sale.noi_cap) %>" placeholder="Nhập nơi cấp" id="noi_cap" name="noi_cap">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="dia_chi" class="form-label">Địa chỉ thường trú</label>
                                                                <input type="text" class="form-control" value="<%= (sale.dia_chi) %>" placeholder="Nhập địa chỉ thường trú" id="dia_chi" name="dia_chi">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="dien_thoai" class="form-label">Số điện thoại</label>
                                                                <input type="tel" value="0<%= (sale.dien_thoai) %>" class="form-control" placeholder="+(84) 444 78765" id="dien_thoai" name="dien_thoai">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="email" class="form-label">Email</label>
                                                                <input type="email" class="form-control" value="<%= (sale.email) %>" placeholder="example@gamil.com" id="email" name="email">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="so_tai_khoan" class="form-label">Số tài khoản</label>
                                                                <input type="number" class="form-control" value="<%= (sale.so_tai_khoan) %>" placeholder="Nhập số tài khoản" id="so_tai_khoan" name="so_tai_khoan">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="ngan_hang" class="form-label">Ngân hàng</label>
                                                                <input type="text" class="form-control" value="<%= (sale.ngan_hang) %>" placeholder="Nhập ngân hàng" id="ngan_hang" name="ngan_hang">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="chi_nhanh" class="form-label">Chi nhánh</label>
                                                                <input type="text" class="form-control" value="<%= (sale.chi_nhanh) %>" placeholder="Nhập chi nhánh" id="chi_nhanh" name="chi_nhanh">
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="ma_gioi_thieu" class="form-label">Mã giới thiệu</label>
                                                                <input type="text" class="form-control" value="<%= (sale.ma_gioi_thieu) %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="mb-3">
                                                                <label for="username_sale" class="form-label">Tên đăng nhập</label>
                                                                <input type="text" class="form-control" value="<%= (sale.username_sale) %>" placeholder="Nhập mã giới thiệu" id="username_sale" name="username_sale" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit"
                                                        class="btn btn-soft-info btn-sm card-title mb-0 flex-grow-9">
                                                         Chỉnh sửa
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card card-animate">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Đổi mật khẩu</h4>
                                            </div><!-- end card header -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form action="/admin/doi-mat-khau/<%= sale._id %>" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="mb-12">
                                                                        <label for="password_sale" class="form-label">Mật khẩu mới</label>
                                                                        <input type="password" class="form-control" value="" placeholder="Nhập mật khẩu mới" id="password_sale" name="password_sale" >
                                                                    </div>
                                                                </div>
                                                            </div><br>
                                                            <button type="submit"
                                                                class="btn btn-soft-info btn-sm card-title mb-0 flex-grow-9">
                                                                 Đổi mật khẩu
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card card-animate">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Đổi tên đăng nhập</h4>
                                            </div><!-- end card header -->
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form action="/admin/doi-tai-khoan/<%= sale._id %>" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="mb-12">
                                                                        <label for="username_sale" class="form-label">Tên đăng nhập mới</label>
                                                                        <input type="text" class="form-control" value="" placeholder="Nhập tên đăng nhập mới" id="username_sale" name="username_sale" >
                                                                    </div>
                                                                </div>
                                                            </div><br>
                                                            <button type="submit"
                                                                class="btn btn-soft-info btn-sm card-title mb-0 flex-grow-9">
                                                                 Đổi tài khoản
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="card card-height-100">
                                                        <div class="card-header align-items-center d-flex">
                                                            <h4 class="card-title mb-0 flex-grow-1">Thông báo và sự kiện</h4>
                                                        </div><!-- end card header -->
                                                        <!-- card body -->
                                                        <div class="card-body">
                                                            <div class="table-responsive table-card">
                                                                <table class="table table-borderless table-sm table-centered align-middle table-nowrap mb-1">
                                                                    <thead class="text-muted border-dashed border border-start-0 border-end-0 bg-soft-light">
                                                                        <tr>
                                                                            <th>Thông báo</th>
                                                                            <th style="width: 70%">Mô tả</th>
                                                                            <th>Ngày</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="border-0">
                                                                        <% thong_bao.forEach(function(thong_bao){ %>
                                                                        <tr>
                                                                            <td> <b>[<%= thong_bao.tieu_de_thong_bao %>]</b> </td>
                                                                            <td><a href="<%= thong_bao.noi_dung_thong_bao %>"  target="_blank" rel="noopener noreferrer"> <%= thong_bao.mo_ta_thong_bao %></a></td>
                                                                            <td><a href="<%= thong_bao.noi_dung_thong_bao %>"  target="_blank" rel="noopener noreferrer"><%= thong_bao.ngay_thong_bao.getDate() %>/<%= thong_bao.ngay_thong_bao.getMonth() + 1 %>/<%= thong_bao.ngay_thong_bao.getFullYear() %></a></td>
                                                                        </tr>
                                                                        <% }); %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- end card body -->
                                                    </div><!-- end card -->
                                                </div><!-- end col -->
                                            </div> <!-- end row-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>