<%- include ../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ../layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ../layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7"> 
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Danh sách yêu cầu hỗ trợ</h4>
                                </div><!-- end card header -->
    
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                            <thead class="text-muted table-light">
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Người gửi</th>
                                                    <th scope="col">Nội dung</th>
                                                    <th scope="col">Ngày</th>
                                                    <th scope="col">Thời gian</th>
                                                    <th scope="col">Trạng thái</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let index = 0 %>
                                                <% ho_tro.forEach(function(ho_tro){ index++ %>
                                                    <tr>
                                                        <td><%= index %></td>
                                                        <td style="font-weight: 500;"> <a href=""><%= ho_tro.khach_hang.ho_va_ten %></a></td>
                                                        <td style="font-weight: 500;"> <a href=""><%= ho_tro.noi_dung %></a></td>
                                                        <td style="font-weight: 500;"> <a href=""><%= ho_tro.ngay_tao.getDate() %>/<%= ho_tro.ngay_tao.getMonth() + 1 %>/<%= ho_tro.ngay_tao.getFullYear() %></a></td>
                                                        <td style="font-weight: 500;"> <a href=""><%= ho_tro.ngay_tao.getHours() %> : <%= ho_tro.ngay_tao.getMinutes() %> phút</a></td>
                                                        <td style="font-weight: 500;"> <a href=""><%= ho_tro.trang_thai %></a></td>
                                                        <td>
                                                            <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#answer-<%= ho_tro._id %>">Trả lời</button>
                                                        </td>
                                                        <div id="answer-<%= ho_tro._id %>" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                            <form action="/admin/answer/<%= ho_tro._id %>" method="post">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="myModalLabel">Trả lời yêu cầu</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <input type="hidden" class="form-control" value="Đã trả lời" placeholder="Nhập họ và tên" id="trang_thai" name="trang_thai">
                                                                                <div class="col-md-4">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                                        <input disabled type="text" class="form-control" value="<%= ho_tro.khach_hang.ho_va_ten %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Ngày</label>
                                                                                        <input disabled type="text" class="form-control" value="<%= ho_tro.ngay_tao.getDate() %>/<%= ho_tro.ngay_tao.getMonth() + 1 %>/<%= ho_tro.ngay_tao.getFullYear() %>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Nội dung</label>
                                                                                        <input disabled type="text" class="form-control" value="<%= ho_tro.noi_dung %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Trả lời</label>
                                                                                        <textarea  type="text" class="form-control" placeholder="Nhập câu trả lời" id="tra_loi" name="tra_loi"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                                                            <button type="submit" class="btn btn-primary ">gửi</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <td>
                                                            <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#answer-detail-<%= ho_tro._id %>">Chi tiết</button>
                                                        </td>
                                                        <div id="answer-detail-<%= ho_tro._id %>" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="myModalLabel">Chi tiết yêu cầu</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <input type="hidden" class="form-control" value="Đã trả lời" placeholder="Nhập họ và tên" id="trang_thai" name="trang_thai">
                                                                                <div class="col-md-4">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                                        <input disabled type="text" class="form-control" value="<%= ho_tro.khach_hang.ho_va_ten %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Ngày</label>
                                                                                        <input disabled type="text" class="form-control" value="<%= ho_tro.ngay_tao.getDate() %>/<%= ho_tro.ngay_tao.getMonth() + 1 %>/<%= ho_tro.ngay_tao.getFullYear() %>">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Nội dung</label>
                                                                                        <input disabled type="text" class="form-control" value="<%= ho_tro.noi_dung %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="mb-3">
                                                                                        <label for="ho_va_ten" class="form-label">Trả lời</label>
                                                                                        <textarea disabled type="text" class="form-control" placeholder="Nhập câu trả lời" id="tra_loi" name="tra_loi"><%= ho_tro.tra_loi %></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </tr>
                                                <% }); %>
                                            </tbody><!-- end tbody -->
                                            
                                        </table><!-- end table -->
                                    </div>
                                </div>
                            </div> <!-- .card-->
                        </div>
                        <div class="col-xl-5">
                            <div class="card">
                                <div class="card card-height-100">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Thông báo và sự kiện</h4>
                                    </div><!-- end card header -->
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="table-responsive table-card">
                                            <table class="table table-borderless table-sm table-centered align-middle table-nowrap mb-1">
                                                <thead class="text-muted border-dashed border border-start-0 border-end-0 bg-soft-light">
                                                    <tr>
                                                        <th>Thông báo</th>
                                                        <th style="width: 70%">Mô tả</th>
                                                        <th>Ngày</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="border-0">
                                                    <% thong_bao.forEach(function(thong_bao){ %>
                                                    <tr>
                                                        <td> <b>[<%= thong_bao.tieu_de_thong_bao %>]</b> </td>
                                                        <td><a href="<%= thong_bao.noi_dung_thong_bao %>"  target="_blank" rel="noopener noreferrer"> <%= thong_bao.mo_ta_thong_bao %></a></td>
                                                        <td><a href="<%= thong_bao.noi_dung_thong_bao %>"  target="_blank" rel="noopener noreferrer"><%= thong_bao.ngay_thong_bao.getDate() %>/<%= thong_bao.ngay_thong_bao.getMonth() + 1 %>/<%= thong_bao.ngay_thong_bao.getFullYear() %></a></td>
                                                    </tr>
                                                    <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                </div>
                <!-- container-fluid -->
            </div>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>