<%- include ../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ../layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ../layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Quản lý nhân viên kinh doanh</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý</a></li>
                                        <li class="breadcrumb-item active">Nhân viên kinh doanh</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col">

                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="mt-3 mt-lg-0">
                                                    <div class="row g-3 mb-0 align-items-center">
                                                        <!--end col-->
                                                        <div class="col-auto">
                                                            <button type="button" class="btn btn-soft-success"  data-bs-toggle="modal" data-bs-target="#add_sale"><i class="ri-add-circle-line align-middle me-1"></i> Thêm người dùng</button>
                                                            <div id="add_sale" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="myModalLabel">Thêm thành viên</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <form action="/admin/them-nhan-vien" method="post">
                                                                                <div class="card-body">
                                                                                    <div class="live-preview">
                                                                                            <div class="row">
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                                                        <input type="text" class="form-control" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="nam_sinh" class="form-label">Ngày sinh</label>
                                                                                                        <input type="date" class="form-control" id="nam_sinh" name="nam_sinh">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="dan_toc" class="form-label">Dân tộc</label>
                                                                                                        <input type="text" class="form-control" placeholder="Dân tộc" id="dan_toc" name="dan_toc">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                                <div class="col-md-7">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="cmnd_cccd" class="form-label">Số CMND/CCCD</label>
                                                                                                        <input type="number" class="form-control" placeholder="Nhập chứng minh nhân dân hoặc căn cước công dân" id="cmnd_cccd" name="cmnd_cccd">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-5">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="ngay_cap" class="form-label">Ngày cấp</label>
                                                                                                        <input type="date" class="form-control" id="ngay_cap" name="ngay_cap">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="noi_cap" class="form-label">Nơi cấp</label>
                                                                                                        <input type="text" class="form-control" placeholder="Nhập nơi cấp" id="noi_cap" name="noi_cap">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="vung" class="form-label">Vùng</label>
                                                                                                        <select class="form-select mb-3" aria-label=".form-select-lg example"  id="vung" name="vung">
                                                                                                            <option value="6309a05c6d6575d010cc2ee8" selected>Chọn vùng</option>
                                                                                                            <% var vung_index = 0 %>
                                                                                                            <% vungs.forEach(function(vung){ vung_index++ %>
                                                                                                                <option value="<%= vung._id %>"><%= vung_index %>. <%= vung.ten_vung %></option>
                                                                                                            <% }); %>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="tinh" class="form-label">Tỉnh</label>
                                                                                                        <select class="form-control" id="tinh" data-choices data-choices-groups data-placeholder="Chọn Tỉnh" name="tinh">
                                                                                                            <option value="6309a0cc6d6575d010cc2eea">Chọn tỉnh</option>
                                                                                                            <% var tinh_index = 0 %>
                                                                                                            <% tinhs.forEach(function(tinh){ tinh_index++ %>
                                                                                                                <option value="<%= tinh._id %>"><%= tinh_index %>. <%= tinh.ten_tinh %></option>
                                                                                                            </optgroup>
                                                                                                            <% }); %>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-12">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="dia_chi" class="form-label">Địa chỉ thường trú</label>
                                                                                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ thường trú" id="dia_chi" name="dia_chi">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                                <div class="col-md-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="so_dien_thoai" class="form-label">Số điện thoại</label>
                                                                                                        <input type="tel" class="form-control" placeholder="+(84) 444 78765" id="dien_thoai" name="dien_thoai">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                                <div class="col-md-6">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="email" class="form-label">Email</label>
                                                                                                        <input type="email" class="form-control" placeholder="example@gamil.com" id="email" name="email">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="so_tai_khoan" class="form-label">Số tài khoản</label>
                                                                                                        <input type="number" class="form-control" placeholder="Nhập số tài khoản" id="so_tai_khoan" name="so_tai_khoan">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="ngan_hang" class="form-label">Ngân hàng</label>
                                                                                                        <input type="text" class="form-control" placeholder="Nhập ngân hàng" id="ngan_hang" name="ngan_hang">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="chi_nhanh" class="form-label">Chi nhánh</label>
                                                                                                        <input type="text" class="form-control" placeholder="Nhập chi nhánh" id="chi_nhanh" name="chi_nhanh">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                                <div class="col-md-3">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="ma_gioi_thieu" class="form-label">Mã cấp trên</label>
                                                                                                        <input type="text" class="form-control" placeholder="Nhập mã giới thiệu" id="ma_code" name="ma_code" >
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="nhom_kinh_doanh" class="form-label">Đội nhóm kinh doanh</label>
                                                                                                        <select class="form-select mb-3" aria-label=".form-select-lg example"  id="nhom_kinh_doanh" name="nhom_kinh_doanh">
                                                                                                            <option selected>Chọn nhóm kinh doanh</option>
                                                                                                            <% var nhom_index = 0 %>
                                                                                                            <% nhoms.forEach(function(nhom){ nhom_index++ %>
                                                                                                                <option value="<%= nhom._id %>"><%= nhom_index %>.Nhóm kinh doanh <%= nhom.ten_nhom %></option>
                                                                                                            <% }); %>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-3">
                                                                                                    <div class="mb-3">
                                                                                                        <label for="chuc_vu" class="form-label">Chức vụ</label>
                                                                                                        <select class="form-select mb-3" aria-label=".form-select-lg example"  id="chuc_vu" name="chuc_vu">
                                                                                                            <option selected>Chọn chức vụ</option>
                                                                                                            <% var chuc_vu_index = 0 %>
                                                                                                            <% chuc_vus.forEach(function(chuc_vu){ chuc_vu_index++ %>
                                                                                                                <option value="<%= chuc_vu._id %>"><%= chuc_vu_index %>. <%= chuc_vu.ten_chuc_vu %></option>
                                                                                                            <% }); %>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--end col-->
                                                                                            </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                                                                    <button type="submit" class="btn btn-primary ">Thêm mới</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                            </div>
                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Danh sách nhân viên kinh doanh</h4>
                                            </div><!-- end card header -->

                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col">STT</th>
                                                                <th scope="col">CODE</th>
                                                                <th scope="col">Họ và tên</th>
                                                                <th scope="col">Nhóm kinh doanh</th>
                                                                <th scope="col">Chức vụ</th>
                                                                <th scope="col">Ngày sinh</th>
                                                                <th scope="col">Số điện thoại</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Địa chỉ</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var index = 0 %>
                                                            <% sales.forEach(function(sales){ index++ %>
                                                            <tr>
                                                                <td><%= index %></td>
                                                                <td><%= sales.ma_gioi_thieu %></td>
                                                                <td>
                                                                    <a href="" class="fw-medium link-primary"><%= sales.ho_va_ten %></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" class="fw-medium link-primary">#<%= sales.nhom_kinh_doanh.ten_nhom %></a>
                                                                </td>
                                                                <td>
                                                                    <a href="" class="fw-medium link-primary"><%= sales.chuc_vu.ten_chuc_vu %></a>
                                                                </td>
                                                                
                                                                <td><%= sales.nam_sinh %></td>
                                                                <td>
                                                                    <span class="text-success">0<%= sales.dien_thoai %></span>
                                                                </td>
                                                                <td>
                                                                    <span class=""><%= sales.email %></span>
                                                                </td>
                                                                <td>
                                                                    <h5 class="fs-14 fw-medium mb-0"><span class="text-muted fs-11 ms-1"><%= sales.dia_chi %></span></h5>
                                                                </td>
                                                                <td>
                                                                    <a href="/admin/chi-tiet-nhan-vien=<%= sales._id %>/<%= sale._id %>">
                                                                        <button type="button" class="btn btn-soft-info btn-sm">
                                                                            <i class="ri-file-list-3-line align-middle"></i> Chi tiết nhân viên
                                                                        </button>
                                                                    </a>
                                                                    <button type="button" class="btn btn-soft-info btn-sm">
                                                                        <i class="ri-delete-bin-2-fill align-middle"></i> Xóa
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                        </tbody><!-- end tbody -->
                                                    </table><!-- end table -->
                                                </div>
                                            </div>
                                        </div> <!-- .card-->
                                    </div> <!-- .col-->
                                </div> <!-- end row-->

                            </div> <!-- end .h-100-->

                        </div> <!-- end col -->
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>© Bản quyền thuộc về công ty cổ phần tập đoàn chợ toàn cầu.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Lê Tuấn Khang
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>