<%- include ../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ../layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ../layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Quản lý giao dịch</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý</a></li>
                                        <li class="breadcrumb-item active">Giao dịch</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col">

                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-16 mb-1">Chào mừng, <%= sale.ho_va_ten %>!</h4>
                                                <p class="text-muted mb-0">Chúc <%= sale.ho_va_ten %> một ngày làm việc hiệu quả</p>
                                            </div>
                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Yêu cầu giao dịch</h4>
                                            </div><!-- end card header -->
                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col">Họ và tên</th>
                                                                <th scope="col">Loại giao dịch</th>
                                                                <th scope="col">Số tiền</th>
                                                                <th scope="col">Trạng thái</th>
                                                                <th scope="col">Thời gian</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="font-size: 16px;">
                                                            <% lich_su.forEach(function(lich_su){ %>
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0 me-2">
                                                                            <img src="../../admin/assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle" />
                                                                        </div>
                                                                        <div class="flex-grow-1"><%= lich_su.nguoi_gui.ho_va_ten %></div>
                                                                    </div>
                                                                </td>
                                                                <td><%= lich_su.loai_lich_su %></td>
                                                                <td>
                                                                    <span class="text-success"><%= lich_su.so_tien.toLocaleString(); %> đ</span>
                                                                </td>
                                                                <td>
                                                                    <span class=""><%= lich_su.trang_thai.ten_trang_thai %></span>
                                                                </td>
                                                                <td>
                                                                    <h4 class="fs-14 fw-medium mb-0"><%=  lich_su.ngay_giao_dich.getDate() %>/<%=  lich_su.ngay_giao_dich.getMonth() +1 %>/<%=  lich_su.ngay_giao_dich.getFullYear() %></h4>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#myModal-<%= lich_su._id %>">
                                                                        <i class="ri-edit-2-fill align-middle"></i> Thay đổi
                                                                    </button>
                                                                    <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#xoa-<%= lich_su._id %>">
                                                                        <i class="ri-delete-bin-2-fill align-middle"></i> Xóa
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <div id="myModal-<%= lich_su._id %>" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                <form action="/user/nap-tien-sua/<%= lich_su._id %>" method="post">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="myModalLabel">Xác nhận giao dịch</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <select class="form-control" id="trang_thai"
                                                                                    name="trang_thai">
                                                                                    <option>---- Trạng thái ----</option>
                                                                                    <% trang_thai.forEach(function(trang_thai_edi){ %>
                                                                                        <option value="<%= trang_thai_edi._id %>"><%= trang_thai_edi.ten_trang_thai %></option>
                                                                                    <% }); %>
                                                                                </select>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Bỏ</button>
                                                                                <button type="submit" class="btn btn-primary ">Lưu</button>
                                                                            </div>
                    
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </form>
                                                            </div>
                                                            <div id="xoa-<%= lich_su._id %>" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                <form action="/user/xoa-lich-su/<%= lich_su._id %>" method="post">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="myModalLabel">Xác nhận</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                               <h4>Bạn có muốn xóa không</h4>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                                                                <button type="submit" class="btn btn-primary ">Xóa</button>
                                                                            </div>
                    
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </form>
                                                            </div>
                                                            <% }); %>
                                                        </tbody><!-- end tbody -->
                                                    </table><!-- end table -->
                                                </div>
                                            </div>
                                        </div> <!-- .card-->
                                    </div> <!-- .col-->
                                </div> <!-- end row-->

                            </div> <!-- end .h-100-->

                        </div> <!-- end col -->
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Bản quyền thuộc về công ty cổ phần tập đoàn chợ toàn cầu.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Lê Tuấn Khang
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>