
<%- include ./layouts/header_sale.ejs %>
<body class="body-scroll" data-page="index">

    <!-- loader section -->
    <%- include ./layouts/loading_sale.ejs %>
    <!-- loader section ends -->

    <!-- Sidebar main menu -->
    <%- include ./layouts/sidebar_sale.ejs %>
    <!-- Sidebar main menu ends -->

    <!-- Begin page -->
    <main class="h-100">

        <!-- Header -->
        <header class="header position-fixed">
            <div class="row">
                <div class="col-auto">
                    <a href="javascript:void(0)" target="_self" class="btn btn-light btn-44 menu-btn">
                        <i class="bi bi-list"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <div class="logo-small">
                        <img src="/images/gmg.png" alt="" />
                        <h5><span class="text-secondary fw-light">GMG</span><br />Invest</h5>
                    </div>
                </div>
                <div class="col-auto">
                    <a href="/app/profile/<%= sale.id %>" target="_self" class="btn btn-light btn-44">
                        <i class="bi bi-person-circle"></i>
                        <span class="count-indicator"></span>
                    </a>
                </div>
            </div>
        </header>
        <!-- Header ends -->

        <!-- main page content -->
        <div class="main-container container">

            <!-- income expense-->
            <div class="row mb-4">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 p-1 shadow-sm shadow-success rounded-15">
                                        <div class="icons bg-success text-white rounded-12">
                                            <i class="bi bi-file-text-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <% let sl_hd = 0; %>
                                    <% hop_dongs.forEach(function(hop_dong){ %>
                                        <% if (hop_dong.khach_hang.ma_gioi_thieu === sale.ma_gioi_thieu) { %>
                                            <% sl_hd++ %>
                                        <% } %>
                                    <% }); %>
                                    <p class="size-10 text-secondary mb-0">Số lượng hợp đồng</p>
                                    <p><%= sl_hd %> HĐ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-40 p-1 shadow-sm shadow-success rounded-15">
                                        <div class="icons bg-success text-white rounded-12">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <% let sl_kh = 0; %>
                                    <% users.forEach(function(users){ %>
                                        <% if (users.ma_gioi_thieu === sale.ma_gioi_thieu) { %>
                                            <% sl_kh++ %>
                                        <% } %>
                                    <% }); %>
                                    <p class="size-10 text-secondary mb-0">Số lượng khách hàng</p>
                                    <p><%= sl_kh %> KH</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dark mode switch -->
            <!-- <div class="row mb-4">
                <div class="col-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="darkmodeswitch">
                                <label class="form-check-label text-muted px-2 " for="darkmodeswitch">Bật chế độ ban đêm</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- categories list -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card bg-theme text-white">
                        <div class="card-body pb-0">
                            <div class="row justify-content-between gx-0 mx-0 pb-3">
                                <div class="col-auto text-center">
                                    <a href="/app/bank-account/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-people size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Khách hàng</p>
                                </div>
                                
                                <div class="col-auto text-center">
                                    <a href="/app/contract/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-receipt-cutoff size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Hợp đồng</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="/app/history/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-clock-history size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Trả lãi</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="/app/support/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-headset size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Hỗ trợ</p>
                                </div>
                            </div>

                            <div class="row justify-content-between gx-0 mx-0 collapse" id="collpasemorelink">
                                <div class="col-auto text-center">
                                    <a href="/app/profile/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-person-badge size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Thông tin</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="/app/update/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-building size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Dự án</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="/app/update/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-cart size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Cửa hàng</p>
                                </div>

                                <div class="col-auto text-center">
                                    <a href="/app/update/<%= sale.id %>" class="avatar avatar-60 p-1 shadow-sm rounded-15 bg-opac mb-2">
                                        <div class="icons bg-success text-white rounded-12 bg-opac">
                                            <i class="bi bi-question size-22"></i>
                                        </div>
                                    </a>
                                    <p class="size-10">Hướng dẫn</p>
                                </div>
                            </div>

                            <button class="btn btn-link mt-0 py-1 w-100 bar-more collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collpasemorelink" aria-expanded="false"
                                aria-controls="collpasemorelink">
                                <span class=""></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- offers banner -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card theme-bg overflow-hidden">
                        <figure class="m-0 p-0 position-absolute top-0 start-0 w-100 h-100 coverimg right-center-img">
                            <img src="../assets/img/offerbg.png" alt="">
                        </figure>
                        <div class="card-body py-4">
                            <div class="row">
                                <div class="col-9 align-self-center">
                                    <h1 class="mb-3"><span class="fw-light">Sự kiện 20/11</span></h1>
                                    <p>Cám ơn khách hàng đã tin tưởng và đồng hành cùng chúng tôi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blogs -->
            <div class="row mb-3">
                <div class="col">
                    <h6 class="title">Tin tức mới nhất</h6>
                </div>
                <div class="col-auto align-self-center">
                    <a href="blog.html" class="small">Xem thêm</a>
                </div>
            </div>
            <div class="row">
                <% tin_tucs.forEach(function(tin_tucs){ %>
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="https://chotoancau.vn/tin-hoat-dong/le-dong-tho-du-an-khu-tmdv-tong-hop-phuong-tan-thanh-48.html" class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="avatar avatar-60 shadow-sm rounded-10 coverimg">
                                        <img src="<%= tin_tucs.anh_dai_dien %>" alt="">
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <p class="mb-1" style="font-size: 14px;"><%= tin_tucs.tieu_de %></p>
                                    <p class="text-muted size-12">Liên hiệp Hợp tác xã Việt Nam cùng Công ty CP Tập đoàn Chợ toàn cầu GMG tổ chức Lễ Động thổ dự án Khu TMDV Tổng hợp phường Tân Thành</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>

        </div>
        <!-- main page content ends -->


    </main>
    <!-- Page ends-->

    <!-- Footer -->
    <%- include ./layouts/tab_sale.ejs %>
    <!-- Footer ends-->

    <!-- Required jquery and libraries -->
<%- include ./layouts/footer_sale.ejs %>