<%- include ../layouts/header.ejs %>
    <% if (user) { %>
        <!-- Begin page -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="layout-width">
                    <%- include ../layouts/menu.ejs %>
                </div>
            </header>
            <!-- ========== App Menu ========== -->
            <%- include ../layouts/nav.ejs %>
                <!-- Left Sidebar End -->
                <!-- Vertical Overlay-->
                <div class="vertical-overlay"></div>

                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="h-100">
                                        <div class="row mb-3 pb-1">
                                            <div class="col-12">
                                                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                                    <div class="flex-grow-1">
                                                        <h4 class="fs-16 mb-1">Danh sách hợp đồng, <%= user.ho_va_ten %>!</h4>
                                                    </div>
                                                </div><!-- end card header -->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div> <!-- end .h-100-->
                                </div> <!-- end col -->
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Danh sách hợp đồng</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                  <div class="table-responsive table-card" style="width: 103%;">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th>STT</th>
                                                                <th scope="col">Mã HĐ</th>
                                                                <th scope="col">Khách hàng</th>
                                                                <th scope="col">Tiền ầu tư</th>
                                                                <th scope="col">Thời hạn</th>
                                                                <th scope="col">Ngày ký</th>
                                                                <th scope="col">Tiền thưởng OCS</th>
                                                                <th scope="col">Ngày hết hạn</th>
                                                                <th scope="col">Lãi hàng tháng</th>
                                                                <th scope="col">Trạng thái</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="myTable" style="font-size: 16px;">
                                                                <% var index = 0 %>
                                                                <% const thang = new Date(); %>
                                                                <% const month = thang.getMonth() + 1; %>
                                                                <% thang.setMonth(month, 0); %>
                                                                <% const ngay_trong_thang = thang.getDate(); %>
                                                                <% const ngay_het = thang.getDate() - 1 %>
                                                                <% hop_dongs.forEach(function(hop_dong){ index++ %>
                                                                    <% if ( hop_dong.khach_hang.id === user.id) { %>
                                                                        <tr>
                                                                            <td style="text-align: center;"><%= index %></td>
                                                                            <td><%= hop_dong.ma_hop_dong %></td>
                                                                            <td><%= hop_dong.khach_hang.ho_va_ten %></td>
                                                                            <td><%= hop_dong.so_tien_dau_tu.toLocaleString(); %> đ</td>
                                                                            <td><%= hop_dong.thoi_han_dau_tu %> tháng</td>
                                                                            
                                                                            <td><%= hop_dong.ngay_ky_hop_dong.getDate() %>/<%= hop_dong.ngay_ky_hop_dong.getMonth() + 1 %>/<%= hop_dong.ngay_ky_hop_dong.getFullYear() %></td>
                                                                            <td><%= hop_dong.tien_ocopshop.toLocaleString(); %> đ</td>
                                                                            <td><%= hop_dong.ngay_ky_hop_dong.getDate() - 1 %>/<%= hop_dong.ngay_ky_hop_dong.getMonth() + 1 %>/<%= hop_dong.ngay_ky_hop_dong.getFullYear() + (hop_dong.thoi_han_dau_tu/12) %></td>
                                                                            <% if ((hop_dong.ngay_ky_hop_dong.getMonth() + 1) == month) { %>
                                                                              <td style="color: rgb(57, 78, 239); font-weight: 600;"> <span class="counter-value" data-target="<%= hop_dong.loi_nhuan.thang_dau.toFixed(0) %>">0</span> đ</td>
                                                                              <% } %>
                                                                              <% if ((hop_dong.ngay_ky_hop_dong.getMonth() + 1) != month) { %>
                                                                                <td style="color: rgb(57, 78, 239); font-weight: 600;"><%= hop_dong.loi_nhuan.thang.toLocaleString() %> đ</td>
                                                                              <% } %>
                                                                            <td style="color: green; font-weight: 600;">Đã trả lãi</td>
                                                                            <td>
                                                                              <button type="submit" class="btn btn-soft-success" ><i class="ri-add-circle-line align-middle me-1"></i> Xem hợp đồng</button>
                                                                            </td>
                                                                          </tr>
                                                                    <% } %>
                                                                <% }); %>
                                                                
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <script>document.write(new Date().getFullYear())</script>© Bản quyền thuộc về công
                                    ty cổ phần tập đoàn chợ toàn cầu.
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end d-none d-sm-block">
                                        Design & Develop by Lê Tuấn Khang
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->



        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

        <div class="customizer-setting d-none d-md-block">
            <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas"
                data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
            </div>
        </div>
        <% } %>
            <%- include ../layouts/footer.ejs %>