<%- include ../layouts/header.ejs %>
    <% if (user) { %>
        <!-- Begin page -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="layout-width">
                    <%- include ../layouts/menu.ejs %>
                </div>
            </header>
            <!-- ========== App Menu ========== -->
            <%- include ../layouts/nav.ejs %>
                <!-- Left Sidebar End -->
                <!-- Vertical Overlay-->
                <div class="vertical-overlay"></div>

                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="h-100">
                                        <div class="row mb-3 pb-1">
                                            <div class="col-12">
                                                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                                    <div class="flex-grow-1">
                                                        <h4 class="fs-16 mb-1">Thông tin cá nhân, <%= user.ho_va_ten %>!</h4>
                                                    </div>
                                                </div><!-- end card header -->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div> <!-- end .h-100-->
                                </div> <!-- end col -->
                                <div class="row">
                                    <div class="col-xl-5 col-md-5">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form action="/sua-thong-tin/<%= user._id %>" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                        <input type="text" class="form-control" value="<%= user.ho_va_ten %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="nam_sinh" class="form-label">Ngày sinh</label>
                                                                        <input type="date"  value="<%= (user.nam_sinh).getFullYear() %>-<%= (user.nam_sinh).getMonth() %>-<%= (user.nam_sinh).getDate() %>" class="form-control" id="nam_sinh" name="nam_sinh">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="dan_toc" class="form-label">Dân tộc</label>
                                                                        <input type="text" value="<%= (user.dan_toc) %>" class="form-control" placeholder="Dân tộc" id="dan_toc" name="dan_toc">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-7">
                                                                    <div class="mb-3">
                                                                        <label for="cccd_cmnd" class="form-label">Số CMND/CCCD </label>
                                                                        <input type="text" value="<%= (user.cccd_cmnd) %>" class="form-control" placeholder="" id="cccd_cmnd" name="cccd_cmnd">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="mb-3">
                                                                        <label for="ngay_cap" class="form-label">Ngày cấp</label>
                                                                        <input type="date" value="<%= (user.ngay_cap).getFullYear() %>-0<%= (user.ngay_cap).getMonth() %>-<%= (user.ngay_cap).getDate() %>" class="form-control" id="nam_sinh" name="nam_sinh" >
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="noi_cap" class="form-label">Nơi cấp</label>
                                                                        <input type="text"  class="form-control" value="<%= (user.noi_cap) %>" placeholder="Nhập nơi cấp" id="noi_cap" name="noi_cap">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="dia_chi" class="form-label">Địa chỉ thường trú</label>
                                                                        <input type="text" class="form-control" value="<%= (user.dia_chi) %>" placeholder="Nhập địa chỉ thường trú" id="dia_chi" name="dia_chi">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="so_dien_thoai" class="form-label">Số điện thoại</label>
                                                                        <input type="tel" value="0<%= (user.so_dien_thoai) %>" class="form-control" placeholder="+(84) 444 78765" id="so_dien_thoai" name="so_dien_thoai">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="email" class="form-label">Email</label>
                                                                        <input type="email" class="form-control" value="<%= (user.email) %>" placeholder="example@gamil.com" id="email" name="email">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="so_tai_khoan" class="form-label">Số tài khoản</label>
                                                                        <input type="number" class="form-control" value="<%= (user.so_tai_khoan) %>" placeholder="Nhập số tài khoản" id="so_tai_khoan" name="so_tai_khoan">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="ngan_hang" class="form-label">Ngân hàng</label>
                                                                        <input type="text" class="form-control" value="<%= (user.ngan_hang) %>" placeholder="Nhập ngân hàng" id="ngan_hang" name="ngan_hang">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="chi_nhanh" class="form-label">Chi nhánh</label>
                                                                        <input type="text" class="form-control" value="<%= (user.chi_nhanh) %>" placeholder="Nhập chi nhánh" id="chi_nhanh" name="chi_nhanh">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="ma_gioi_thieu" class="form-label">Mã giới thiệu</label>
                                                                        <input type="text" class="form-control" value="<%= (user.ma_gioi_thieu) %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_gioi_thieu" class="form-label">Tên đăng nhập</label>
                                                                        <input type="text" class="form-control" value="<%= (user.username) %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_gioi_thieu" class="form-label">Mật khẩu</label>
                                                                        <input type="password" class="form-control" value="<%= (user.password) %>" placeholder="Nhập mã giới thiệu" id="password" name="password" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="submit"
                                                                class="btn btn-soft-info btn-sm card-title mb-0 flex-grow-9">
                                                                 Chỉnh sửa
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div>
                                    <div class="col-xl-3 col-md-3">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Tổng số tiền đầu tư</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                  
                                                      <div>
                                                        <% let total = 0; %>
                                                        <% hop_dongs.forEach(hop_dong => { %>
                                                          <% if ( hop_dong.khach_hang.id === user.id) { %>
                                                            <% total += hop_dong.so_tien_dau_tu %>
                                                          <% } %>
                                                        <% }); %>
                                                        <p class="fs-20 ff-secondary" style="color: rgb(59, 59, 241);">Tiền đầu tư: <span class="counter-value" data-target="<%= total %>">0</span> đ </p>
                                                        </div>
                                                    
                                                  <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-success rounded fs-3">
                                                        <i class="bx bx-dollar-circle text-success"></i>
                                                    </span>
                                                </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Tiền thưởng Ocopshop</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                      <div>
                                                        <% let total_ocss = 0; %>
                                                        <% hop_dongs.forEach(function(hop_dong){ %>
                                                          <% if ( hop_dong.khach_hang.id === user.id) { %>
                                                            <% total_ocss += hop_dong.tien_ocopshop %>
                                                          <% } %>
                                                        <% }); %>
                                                        <p class="fs-20 ff-secondary" style="color: green;">Tiền thưởng: <span class="counter-value" data-target="<%= total_ocss %>">0</span> đ </p>
                                                        </div>
                                                  <div class="avatar-sm flex-shrink-0">
                                                    <span class="avatar-title bg-soft-success rounded fs-3">
                                                        <i class="bx bx-dollar-circle text-success"></i>
                                                    </span>
                                                </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4">
                                        <div class="card card-animate">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Lãi tháng</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end justify-content-between mt-4">
                                                  <div class="table-responsive table-card" style="width: 106%;">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th>STT</th>
                                                                <th scope="col">Mã HĐ</th>
                                                                <th scope="col">Lãi hàng tháng</th>
                                                                <th scope="col">Trạng thái</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="font-size: 16px;">
                                                                <% var index = 0 %>
                                                                <% const thang = new Date(); %>
                                                                <% const month = thang.getMonth() + 1; %>
                                                                <% thang.setMonth(month, 0); %>
                                                                <% const ngay_trong_thang = thang.getDate(); %>
                                                                <% const ngay_het = thang.getDate() - 1 %>
                                                                <% hop_dongs.forEach(function(hop_dong){ index++ %>
                                                                    <% if ( hop_dong.khach_hang.id === user.id) { %>
                                                                        <tr>
                                                                            <td style="text-align: center;"><%= index %></td>
                                                                            <td><%= hop_dong.ma_hop_dong %></td>
                                                                            <% if ((hop_dong.ngay_ky_hop_dong.getMonth() + 1) == month) { %>
                                                                              <td style="color: rgb(57, 78, 239); font-weight: 600;"> <span class="counter-value" data-target="<%= hop_dong.loi_nhuan.thang_dau.toFixed(0) %>">0</span> đ</td>
                                                                              <% } %>
                                                                              <% if ((hop_dong.ngay_ky_hop_dong.getMonth() + 1) != month) { %>
                                                                                <td style="color: rgb(57, 78, 239); font-weight: 600;"><%= hop_dong.loi_nhuan.thang.toLocaleString() %> đ</td>
                                                                              <% } %>
                                                                            <td style="color: green; font-weight: 600;"><%= hop_dong.trang_thai.ten_trang_thai %></td>
                                                                          </tr>
                                                                    <% } %>
                                                                <% }); %>
                                                                
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->
                </div>
                <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->



        <!--start back-to-top-->
        <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
            <i class="ri-arrow-up-line"></i>
        </button>
        <!--end back-to-top-->

        <div class="customizer-setting d-none d-md-block">
            <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas"
                data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
            </div>
        </div>
        <% } %>
            <%- include ../layouts/footer.ejs %>