<%- include ../../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
    <div class="layout-width">
        <%- include ../../layouts/nav_header.ejs %>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <%- include ../../layouts/left_menu.ejs %>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Cài đặt chung</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý</a></li>
                                        <li class="breadcrumb-item active">Cài đặt chung</li>
                                    </ol>
                                </div>

                            </div>
                        </div> 
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col">
                            <div class="h-100">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Danh sách thông báo</h4>
                                            </div><!-- end card header -->

                                            <div class="card-body">
                                                <div class="table-responsive table-card">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col">Ngày</th>
                                                                <th scope="col">Thời gian</th>
                                                                <th scope="col">Tiêu đề thông báo</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% list_thong_bao.forEach(function(list_thong_bao){ %>
                                                                <tr>
                                                                    <td style="font-weight: 500;"> <a href=""><%= list_thong_bao.ngay_thong_bao.getDate() %>/<%= list_thong_bao.ngay_thong_bao.getMonth() + 1 %>/<%= list_thong_bao.ngay_thong_bao.getFullYear() %></a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= list_thong_bao.ngay_thong_bao.getHours() %> giờ <%= list_thong_bao.ngay_thong_bao.getMinutes() %> phút</a></td>
                                                                    <td style="font-weight: 500;"> <a href=""><%= list_thong_bao.tieu_de_thong_bao %></a></td>
                                                                    <td><button type="button" class="btn btn-soft-info btn-sm">Chi tiết</button></td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-soft-info btn-sm"  data-bs-toggle="modal" data-bs-target="#xoa-thong-bao-<%= list_thong_bao._id %>">
                                                                            <i class="ri-delete-bin-2-fill align-middle"></i> Xóa
                                                                        </button>
                                                                    </td>
                                                                    <div id="xoa-thong-bao-<%= list_thong_bao._id %>" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                        <form action="/admin/xoa-thong-bao/<%= list_thong_bao._id %>" method="post">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title" id="myModalLabel">Xác nhận</h5>
                                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                       <h4>Bạn có muốn xóa không</h4>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                                                                        <button type="submit" class="btn btn-primary ">Xóa</button>
                                                                                    </div>
                                                                                </div><!-- /.modal-content -->
                                                                            </div><!-- /.modal-dialog -->
                                                                        </form>
                                                                    </div>
                                                                </tr>
                                                            <% }); %>
                                                        </tbody><!-- end tbody -->
                                                        
                                                    </table><!-- end table -->
                                                </div>
                                            </div>
                                        </div> <!-- .card-->
                                    </div> <!-- .col-->
                                </div> <!-- end row-->

                            </div> <!-- end .h-100-->

                        </div> <!-- end col -->
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../../layouts/footer.ejs %>