<%- include ../../layouts/header.ejs %>

    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="layout-width">
                <%- include ../../layouts/nav_header.ejs %>
            </div>
        </header>
        <!-- ========== App Menu ========== -->
        <%- include ../../layouts/left_menu.ejs %>
            <!-- Left Sidebar End -->
            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Thông tin chi tiết</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý</a></li>
                                            <li class="breadcrumb-item active">Khách hàng</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col">

                                <div class="h-100">
                                    <!--end row-->

                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="card">
                                                <div class="card-header align-items-center d-flex">
                                                    <h4 class="card-title mb-0 flex-grow-1">Thông tin Sale : <b>
                                                            <%= chi_tiet_sale.ho_va_ten %>
                                                        </b> </h4>
                                                </div><!-- end card header -->
                                                <div class="card-body"> 
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <form action="/admin/sua-nhan-vien/<%= chi_tiet_sale._id %>" method="POST"  onsubmit='disableButton()'>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="ho_va_ten" class="form-label">Họ và tên</label>
                                                                        <input type="text" class="form-control" value="<%= chi_tiet_sale.ho_va_ten %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="mb-3">
                                                                        <label for="ho_va_ten" class="form-label">Nhóm</label>
                                                                        <input type="text" disabled class="form-control" value="<%= chi_tiet_sale.nhom_kinh_doanh.ten_nhom %>" placeholder="Nhập họ và tên" id="ho_va_ten" name="ho_va_ten">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="chuc_vu" class="form-label">Chức vụ</label>
                                                                        <select class="form-select mb-3" aria-label=".form-select-lg example"  id="chuc_vu" name="chuc_vu">
                                                                            <option value="<%= chi_tiet_sale.chuc_vu._id %>" selected>Chức vụ : <%= chi_tiet_sale.chuc_vu.ten_chuc_vu %> </option>
                                                                            <option>Chọn chức vụ</option>
                                                                            <% var chuc_vu_index = 0 %>
                                                                            <% chuc_vus.forEach(function(chuc_vu){ chuc_vu_index++ %>
                                                                                <option value="<%= chuc_vu._id %>"><%= chuc_vu_index %>. <%= chuc_vu.ten_chuc_vu %></option>
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="mb-3">
                                                                        <label for="dan_toc" class="form-label">Dân tộc</label>
                                                                        <input type="text" value="<%= (chi_tiet_sale.dan_toc) %>" class="form-control" placeholder="Dân tộc" id="dan_toc" name="dan_toc">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="cmnd_cccd" class="form-label">Số CMND/CCCD </label>
                                                                        <input type="text" value="<%= (chi_tiet_sale.cmnd_cccd) %>" class="form-control" placeholder="" id="cmnd_cccd" name="cmnd_cccd">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="mb-3">
                                                                        <label for="noi_cap" class="form-label">Nơi cấp</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.noi_cap) %>" placeholder="Nhập nơi cấp" id="noi_cap" name="noi_cap">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ngay_cap" class="form-label">Ngày cấp</label>
                                                                        <input type="date" value="<%= (chi_tiet_sale.ngay_cap).getFullYear() %>-<%= String(chi_tiet_sale.ngay_cap.getMonth() + 1).padStart(2, '0') %>-<%= String(chi_tiet_sale.ngay_cap.getDate()).padStart(2, '0') %>" class="form-control" id="ngay_cap" name="so_ngay_cap">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="dia_chi" class="form-label">Địa chỉ thường trú</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.dia_chi) %>" placeholder="Nhập địa chỉ thường trú" id="dia_chi" name="dia_chi">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                               
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="dien_thoai" class="form-label">Số điện thoại</label>
                                                                        <input type="tel" value="0<%= (chi_tiet_sale.dien_thoai) %>" class="form-control" placeholder="+(84) 444 78765" id="dien_thoai" name="dien_thoai">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="email" class="form-label">Email</label>
                                                                        <input type="email" class="form-control" value="<%= (chi_tiet_sale.email) %>" placeholder="example@gamil.com" id="email" name="email">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="so_tai_khoan" class="form-label">Số tài khoản</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.so_tai_khoan) %>" placeholder="Nhập số tài khoản" id="so_tai_khoan" name="so_tai_khoan">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="ngan_hang" class="form-label">Ngân hàng</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.ngan_hang) %>" placeholder="Nhập ngân hàng" id="ngan_hang" name="ngan_hang">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="chi_nhanh" class="form-label">Chi nhánh</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.chi_nhanh) %>" placeholder="Nhập chi nhánh" id="chi_nhanh" name="chi_nhanh">
                                                                    </div>
                                                                </div>
                                                                <!--end col-->
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_gioi_thieu" class="form-label">Mã giới thiệu</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.ma_gioi_thieu) %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_code" class="form-label">Mã cấp trên</label>
                                                                        <input type="text" class="form-control" value="<%= (chi_tiet_sale.ma_code) %>" placeholder="Nhập mã giới thiệu" id="ma_code" name="ma_code">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="ma_gioi_thieu" class="form-label">Cấp trên</label>
                                                                        <% sales.forEach(function(sales){  %>
                                                                            <% if (chi_tiet_sale.ma_code == sales.ma_gioi_thieu ) { %>
                                                                                <input type="text" class="form-control" value="<%= (sales.ho_va_ten) %>" placeholder="Nhập mã giới thiệu" id="ma_gioi_thieu" name="ma_gioi_thieu" disabled>
                                                                            <% } %>
                                                                        <% }); %>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_code" class="form-label">Trạng thái quyết định</label>
                                                                        <input type="text" disabled class="form-control" value="<%= chi_tiet_sale.trang_thai_quyet_dinh %>" placeholder="" id="ma_code" name="ma_code">
                                                                    </div>
                                                                </div>
                                                                <% if (sale.chuc_vu._id == "62f60037939e9682e0c6973c" ) { %>
                                                                    <div class="col-md-3">
                                                                        <label for="ma_code" class="form-label">Người tạo</label>
                                                                        <input type="text" disabled class="form-control" value="<%= chi_tiet_sale.nguoi_them %>" placeholder="Người tạo" id="" name="">
                                                                    </div>
                                                                    <% if (chi_tiet_sale.create_date ) { %>
                                                                    <div class="col-md-3">
                                                                        <label for="ma_code" class="form-label">Ngày tạo</label>
                                                                        <input type="text" disabled class="form-control" value="<%= chi_tiet_sale.create_date.getDate() %>-<%= chi_tiet_sale.create_date.getMonth() + 1 %>-<%= chi_tiet_sale.create_date.getFullYear() %> (<%= chi_tiet_sale.create_date.getHours() %>:<%= chi_tiet_sale.create_date.getMinutes() %>)" placeholder="Người tạo" id="" name="">
                                                                    </div>
                                                                    <% } %>
                                                                <% } %>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="trang_thai_quyet_dinh" class="form-label">Trạng thái quyết định</label>
                                                                        <div class="input-group">
                                                                            <label class="input-group-text" for="trang_thai_quyet_dinh">QĐ-Bổ nhiệm</label>
                                                                            <select class="form-select" id="trang_thai_quyet_dinh" name="trang_thai_quyet_dinh">
                                                                                <option value="<%= chi_tiet_sale.trang_thai_quyet_dinh %>"><%= chi_tiet_sale.trang_thai_quyet_dinh %></option>
                                                                                <option selected>Chọn...</option>
                                                                                <option value="Chưa duyệt">Chưa duyệt</option>
                                                                                <option value="Đã duyệt">Đã duyệt</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               
                                                                <div class="col-md-3">
                                                                    <div class="mb-3">
                                                                        <label for="ma_code" class="form-label">Quyết định bổ nhiệm</label>
                                                                        <button type="button" class="btn btn-success btn-label waves-effect waves-light rounded-pill" data-bs-toggle="modal" data-bs-target="#tao_hop_dong_dau_tu<%= chi_tiet_sale._id %>"><i class="ri-file-user-line label-icon align-middle rounded-pill fs-16 me-2"></i> Xem</button>
                                                                            <div id="tao_hop_dong_dau_tu<%= chi_tiet_sale._id %>" class="modal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                                <div class="modal-dialog modal-xl">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title" id="myModalLabel">Quyết định bổ nhiệm : <%= chi_tiet_sale.ho_va_ten %>  </h5>
                                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                                                                                        </div>
                                                                                        <div class="modal-body" style="width: 1000px; font-size: 14px;  margin-left: 6%;">
                                                                                            <div id="exportContent">
                                                                                                <table style="border: none;width:6.3in;margin-left:5.4pt;border-collapse:collapse;">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="width: 184.3pt;padding: 0in 5.4pt;height: 42.05pt;vertical-align: top;">
                                                                                                                <p style='margin:0in;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:.05in;margin-right:0in;margin-left:0in;text-align:center;'><strong>C&Ocirc;NG TY CỔ PHẦN&nbsp;</strong></p>
                                                                                                                <p style='margin:0in;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:.05in;margin-right:0in;margin-left:0in;text-align:center;'><strong>TẬP ĐO&Agrave;N CHỢ TO&Agrave;N CẦU</strong></p>
                                                                                                            </td>
                                                                                                            <td style="width: 269.3pt;padding: 0in 5.4pt;height: 42.05pt;vertical-align: top;">
                                                                                                                <p style='margin:0in;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:.05in;margin-right:0in;margin-left:0in;text-align:center;'><strong>CỘNG H&Ograve;A X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong></p>
                                                                                                                <p style='margin:0in;margin-bottom:1.0pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:.05in;margin-right:0in;margin-left:0in;text-align:center;'><strong><span style="font-size:17px;">Độc lập - Tự do - Hạnh ph&uacute;c</span></strong></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="width: 184.3pt;padding: 0in 5.4pt;height: 18.1pt;vertical-align: top;">
                                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><em><span style="font-size:17px;">Số: &hellip;&hellip;. /QĐ-GMG</span></em></p>
                                                                                                            </td>
                                                                                                            <td style="width: 269.3pt;padding: 0in 5.4pt;height: 18.1pt;vertical-align: bottom;">
                                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:right;'><em><span style="font-size:17px;">&nbsp;H&agrave; Nội, ng&agrave;y &hellip;&hellip; th&aacute;ng &hellip;&hellip; năm 2022</span></em></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="width: 184.3pt;padding: 0in 5.4pt;height: 17.75pt;vertical-align: bottom;">
                                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>&nbsp;</p>
                                                                                                            </td>
                                                                                                            <td style="width: 269.3pt;padding: 0in 5.4pt;height: 17.75pt;vertical-align: bottom;">
                                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;'><em><span style="font-size:17px;">&nbsp;</span></em></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style="font-size:19px;">QUYẾT ĐỊNH</span></strong></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">V/v: Bổ nhiệm <%= chi_tiet_sale.chuc_vu.ten_chuc_vu %></span></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><u><span style="font-size:19px;">__________________</span></u></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><u><span style="font-size:19px;"><span style="text-decoration:none;">&nbsp;</span></span></u></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style="font-size:17px;">TỔNG GI&Aacute;M ĐỐC</span></strong></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style="font-size:17px;">C&Ocirc;NG TY CỔ PHẦN TẬP ĐO&Agrave;N CHỢ TO&Agrave;N CẦU</span></strong></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;text-indent:27.0pt;'><span style="font-size:17px;">&nbsp;</span></p>
                                                                                                <ul style="list-style-type: undefined;margin-left:25.450000000000003px;">
                                                                                                    <li><em><span style="font-size:13.0pt;">Căn cứ Luật doanh nghiệp 2020;</span></em></li>
                                                                                                    <li><em><span style="font-size:13.0pt;">Căn cứ Đăng k&yacute; Doanh nghiệp số 2802772702 do Sở KHĐT Th&agrave;nh phố H&agrave; Nội cấp lần đầu ng&agrave;y 29 th&aacute;ng 08 năm 2019;</span></em></li>
                                                                                                    <li><em><span style="font-size:13.0pt;">Căn cứ Điều lệ C&ocirc;ng ty cổ phần Tập đo&agrave;n Chợ To&agrave;n Cầu;</span></em></li>
                                                                                                    <li><em><span style="font-size:17px;">Căn cứ Quyết định số 07/QĐ-GMG ng&agrave;y 15/6/2022 của Tổng Gi&aacute;m đốc C&ocirc;ng ty Cổ phần Tập đo&agrave;n Chợ To&agrave;n Cầu V/v ph&acirc;n v&ugrave;ng quản l&yacute; v&agrave; ph&aacute;t triển thị trường;</span></em></li>
                                                                                                    <li><em><span style="font-size:13.0pt;">Căn cứ t&igrave;nh h&igrave;nh hoạt động thực tế của C&ocirc;ng ty.</span></em></li>
                                                                                                </ul>
                                                                                                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:21.3pt;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'><em><span style="font-size:17px;">&nbsp;</span></em></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style="font-size:19px;">QUYẾT ĐỊNH:</span></strong></p>
                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">&nbsp;</span></p>
                                                                                                <ol style="list-style-type: undefined;margin-left:-0.5in;">
                                                                                                    <li><span style="line-height:120%;font-size:17px;"><strong>&nbsp;Điều 1.</strong></span><span style="line-height:120%;font-size:17px;">Bổ nhiệm: <%= chi_tiet_sale.ho_va_ten %> &nbsp;- CCCD số</span> <%= chi_tiet_sale.cmnd_cccd %> <span style="line-height:120%;font-size:17px;">cấp ng&agrave;y <%= chi_tiet_sale.ngay_cap.getDate() %>/<%= chi_tiet_sale.ngay_cap.getMonth() + 1 %>/<%= chi_tiet_sale.ngay_cap.getFullYear() %> tại Cục cảnh s&aacute;t QLHC v&agrave; TTXH l&agrave;m <%= chi_tiet_sale.chuc_vu.ten_chuc_vu %> C&ocirc;ng ty Cổ phần Tập đo&agrave;n Chợ To&agrave;n Cầu.</span></li>
                                                                                                    <li><span style="line-height:120%;font-size:17px;"><strong>&nbsp;Điều 2.</strong><%= chi_tiet_sale.ho_va_ten %> chịu tr&aacute;ch nhiệm thực hiện nhiệm vụ ph&aacute;t triển kinh doanh theo quy chế v&agrave; c&aacute;c quy định của C&ocirc;ng ty Cổ phần Tập đo&agrave;n Chợ To&agrave;n Cầu.</span></li>
                                                                                                    <li><span style="line-height:120%;font-size:17px;"><strong>&nbsp;Điều 3.</strong>Quyết định n&agrave;y c&oacute; hiệu lực kể từ ng&agrave;y k&yacute; ban h&agrave;nh. Văn ph&ograve;ng Đại diện, c&aacute;c Ph&ograve;ng, Ban li&ecirc;n quan C&ocirc;ng ty Cổ phần Tập đo&agrave;n Chợ To&agrave;n Cầu v&agrave; B&agrave; <%= chi_tiet_sale.ho_va_ten %> chịu tr&aacute;ch nhiệm thi h&agrave;nh Quyết định n&agrave;y./.</span></li>
                                                                                                </ol>
                                                                                                <p style='margin:0in;margin-bottom:6.0pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;line-height:120%;'><span style="font-size:17px;line-height:120%;">&nbsp;</span></p>
                                                                                                <table style="border: none;width:6.3in;margin-left:5.4pt;border-collapse:collapse;">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="width: 99.25pt;padding: 0in 5.4pt;height: 70.65pt;vertical-align: top;">
                                                                                                                <p style='margin:0in;margin-bottom:  6.0pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:2.0pt;margin-right:0in;margin-left:.25in;text-indent:-.25in;'><strong>Nơi nhận:</strong></p>
                                                                                                                <div style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;'>
                                                                                                                    <ul style="margin-bottom:0in;list-style-type: undefined;margin-left:-0.25in;">
                                                                                                                        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;'><em><span style="font-size:15px;">Như điều 3;</span></em></li>
                                                                                                                        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;'><em><span style="font-size:15px;">HĐQT (để b/c);</span></em></li>
                                                                                                                        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;'><em><span style="font-size:15px;">Lưu: VT.</span></em><span style="font-size:15px;">&nbsp;</span></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                            <td style="width: 354.35pt;padding: 0in 5.4pt;height: 70.65pt;vertical-align: top;">
                                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:2.0pt;margin-right:0in;margin-left:.25in;text-align:center;'><strong><span style="font-size:17px;">TM.C&Ocirc;NG TY CỔ PHẦN TẬP ĐO&Agrave;N CHỢ TO&Agrave;N CẦU</span></strong></p>
                                                                                                                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;margin-top:2.0pt;margin-right:0in;margin-left:.25in;text-align:center;'><strong><span style="font-size:17px;"><%= chi_tiet_sale.trang_thai_quyet_dinh %></span></strong></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy bỏ</button>
                                                                                            <button type="button" class="btn btn-primary " onclick="Export2Doc('exportContent', 'HĐHT_ĐT_');">Tải xuống</button>
                                                                                            <script>
                                                                                                function Export2Doc(element, filename = '') {
                                                                                                    var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                                                                                                    var postHtml = "</body></html>";
                                                                                                    var html = preHtml + document.getElementById(element).innerHTML + postHtml;
    
                                                                                                    var blob = new Blob(['\ufeff', html], {
                                                                                                        type: 'application/msword'
                                                                                                    });
    
                                                                                                    var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html)
    
                                                                                                    filename = filename ? filename + '.doc' : 'document.doc';
    
                                                                                                    var downloadLink = document.createElement("a");
    
                                                                                                    document.body.appendChild(downloadLink);
    
                                                                                                    if (navigator.msSaveOrOpenBlob) {
                                                                                                        navigator.msSaveOrOpenBlob(blob, filename);
                                                                                                    } else {
                                                                                                        downloadLink.href = url;
    
                                                                                                        downloadLink.download = filename;
    
                                                                                                        downloadLink.click();
                                                                                                    }
    
                                                                                                    document.body.removeChild(downloadLink);
    
    
                                                                                                };
                                                                                                const defaultNumbers =' hai ba bốn năm sáu bảy tám chín';
    
                                                                                                const chuHangDonVi = ('1 một' + defaultNumbers).split(' ');
                                                                                                const chuHangChuc = ('lẻ mười' + defaultNumbers).split(' ');
                                                                                                const chuHangTram = ('không một' + defaultNumbers).split(' ');
    
                                                                                                function convert_block_three(number) {
                                                                                                if(number == '000') return '';
                                                                                                var _a = number + ''; //Convert biến 'number' thành kiểu string
    
                                                                                                //Kiểm tra độ dài của khối
                                                                                                switch (_a.length) {
                                                                                                    case 0: return '';
                                                                                                    case 1: return chuHangDonVi[_a];
                                                                                                    case 2: return convert_block_two(_a);
                                                                                                    case 3: 
                                                                                                    var chuc_dv = '';
                                                                                                    if (_a.slice(1,3) != '00') {
                                                                                                        chuc_dv = convert_block_two(_a.slice(1,3));
                                                                                                    }
                                                                                                    var tram = chuHangTram[_a[0]] + ' trăm';
                                                                                                    return tram + ' ' + chuc_dv;
                                                                                                }
                                                                                                }
    
                                                                                                function convert_block_two(number) {
                                                                                                var dv = chuHangDonVi[number[1]];
                                                                                                var chuc = chuHangChuc[number[0]];
                                                                                                var append = '';
    
                                                                                                // Nếu chữ số hàng đơn vị là 5
                                                                                                if (number[0] > 0 && number[1] == 5) {
                                                                                                    dv = 'lăm'
                                                                                                }
    
                                                                                                // Nếu số hàng chục lớn hơn 1
                                                                                                if (number[0] > 1) {
                                                                                                    append = ' mươi';
                                                                                                    
                                                                                                    if (number[1] == 1) {
                                                                                                    dv = ' mốt';
                                                                                                    }
                                                                                                }
    
                                                                                                return chuc + '' + append + ' ' + dv; 
                                                                                                }
                                                                                                const dvBlock = '1 nghìn triệu tỷ'.split(' ');
    
                                                                                                function to_vietnamese(number) {
                                                                                                var str = parseInt(number) + '';
                                                                                                var i = 0;
                                                                                                var arr = [];
                                                                                                var index = str.length;
                                                                                                var result = [];
                                                                                                var rsString = '';
    
                                                                                                if (index == 0 || str == 'NaN') {
                                                                                                    return '';
                                                                                                }
    
                                                                                                // Chia chuỗi số thành một mảng từng khối có 3 chữ số
                                                                                                while (index >= 0) {
                                                                                                    arr.push(str.substring(index, Math.max(index - 3, 0)));
                                                                                                    index -= 3;
                                                                                                }
    
                                                                                                // Lặp từng khối trong mảng trên và convert từng khối đấy ra chữ Việt Nam
                                                                                                for (i = arr.length - 1; i >= 0; i--) {
                                                                                                    if (arr[i] != '' && arr[i] != '000') {
                                                                                                    result.push(convert_block_three(arr[i]));
    
                                                                                                    // Thêm đuôi của mỗi khối
                                                                                                    if (dvBlock[i]) {
                                                                                                        result.push(dvBlock[i]);
                                                                                                    }
                                                                                                    }
                                                                                                }
    
                                                                                                // Join mảng kết quả lại thành chuỗi string
                                                                                                rsString = result.join(' ');
    
                                                                                                // Trả về kết quả kèm xóa những ký tự thừa
                                                                                                return rsString.replace(/[0-9]/g, '').replace(/ /g,' ').replace(/ $/,'');
                                                                                                }
                                                                                                var sdt =  parseInt('');
                                                                                                // var tien_dau_du = to_vietnamese(sdt);
                                                                                                    document.getElementById('tien_dau_tu').innerHTML = to_vietnamese(sdt)
                                                                                            </script>
                                                                                        </div>
                                                                                    </div><!-- /.modal-content -->
                                                                                </div><!-- /.modal-dialog -->
                                                                            </div><!-- /.modal -->
                                                                    </div>
                                                                </div>
                                                                <div class="mb-12">
                                                                    <label for="ma_code" class="form-label">Ghi chú</label>
                                                                    <textarea class="form-control" name="ghi_chu" id="ghi_chu" ><%= chi_tiet_sale.ghi_chu %></textarea>
                                                                </div>
                                                            </div><br>
                                                            <% if(sale.chuc_vu._id == '62f60037939e9682e0c6973c' || sale.chuc_vu._id == '630ed1b47b0c8dd5727f39b6' || sale.chuc_vu._id == '6316e5768871a27fb5b0ae8f'  ) { %>
                                                            <button id="check" type="submit"
                                                                    class="btn btn-soft-info btn-sm card-title mb-0 flex-grow-9">
                                                                     Chỉnh sửa
                                                            </button>
                                                            <% } %>
                                                            <script>
                                                                function disableButton() {
                                                                    var btn = document.getElementById('check');
                                                                    btn.disabled = true;
                                                                    btn.innerText = 'Đang sửa...';
                                                                }
                                                            </script>
                                                            </form>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- .card-->
                                        <% if (sale.chuc_vu._id == "62fb5c59f1b55b0b9c8745d0" || sale.chuc_vu._id == "62fb5c65f1b55b0b9c8745db" || sale.chuc_vu._id == "62fb5c79f1b55b0b9c8745e6" || sale.chuc_vu._id == "62fb5c8af1b55b0b9c8745f1" || sale.chuc_vu._id == "63099cfeea61e1dad3c7a959" ) { %>
                                        <div class="col-xl-3">
                                            <div class="card">
                                                <div class="card-header align-items-center d-flex">
                                                    <h4 class="card-title mb-0 flex-grow-1">Khách hàng</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive table-card">
                                                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                            <thead class="text-muted table-light">
                                                                <tr>
                                                                    <th scope="col">CODE GIỚI THIỆU</th>
                                                                    <th scope="col">HỌ VÀ TÊN</th>
                                                                    <th scope="col">ĐIỆN THOẠI</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% var index_khach_hang = 0 %>
                                                                <% khach_hangs.forEach(function(khach_hang){ index_khach_hang++ %>
                                                                    <% if (chi_tiet_sale.ma_gioi_thieu == khach_hang.ma_gioi_thieu ) { %>
                                                                            <tr>
                                                                                <td><a href="/admin/thong-tin-khach-hang=<%= khach_hang._id %>/<%= sale._id %>"> <%= khach_hang.ma_gioi_thieu %></a></td>
                                                                                <td><a href="/admin/thong-tin-khach-hang=<%= khach_hang._id %>/<%= sale._id %>"><%= khach_hang.ho_va_ten %></a></td>
                                                                                <td><a href="/admin/thong-tin-khach-hang=<%= khach_hang._id %>/<%= sale._id %>">0<%= khach_hang.so_dien_thoai %></a></td>
                                                                            </tr>
                                                                    <% } %>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <div class="col-xl-3">
                                            <div class="card">
                                                <div class="card-header align-items-center d-flex">
                                                    <h4 class="card-title mb-0 flex-grow-1">Danh sách HĐ-HTĐT</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive table-card">
                                                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                            <thead class="text-muted table-light">
                                                                <tr>
                                                                    <th scope="col">SỐ HĐ</th>
                                                                    <th scope="col">KHÁCH HÀNG</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% var index_khach_hang = 0 %>
                                                                <% hop_dongs.forEach(function(hop_dong){ index_khach_hang++ %>
                                                                    <% if (chi_tiet_sale.ma_gioi_thieu == hop_dong.khach_hang.ma_gioi_thieu ) { %>
                                                                        <tr>
                                                                            <td><%= hop_dong.ma_hop_dong %></td>
                                                                            <td><%= hop_dong.khach_hang.ho_va_ten %></td>
                                                                        </tr>
                                                                    <% } %>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end .h-100-->
                            </div> <!-- end col -->
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script>© Bản quyền thuộc về công ty cổ
                                phần tập đoàn chợ toàn cầu.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by Lê Tuấn Khang
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas"
            data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>
    <%- include ../../layouts/footer.ejs %>