<footer class="footer">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="/sale/home/<%= sale.id %>">
                    <span>
                        <i class="nav-icon bi bi-house"></i>
                        <span class="nav-text">Trang chủ</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sale/khach-hang/<%= sale.id %>">
                    <span>
                        <i class="nav-icon bi-receipt-cutoff"></i>
                        <span class="nav-text">Khách hàng</span>
                    </span>
                </a>
            </li>
            <li class="nav-item centerbutton">
                <a class="nav-link" href="/app/profile/<%= sale.id %>">
                    <span class="theme-radial-gradient">
                        <i class="bi bi-person-badge size-22"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/app/history/<%= sale.id %>">
                    <span>
                        <i class="nav-icon bi-clock-history"></i>
                        <span class="nav-text">Trả lãi</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/app/news/<%= sale.id %>">
                    <span>
                        <i class="nav-icon bi bi-newspaper"></i>
                        <span class="nav-text">Tin tức</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>